<template>
    <div class="chat-wrapper">
        <Conversation :contact="selectedContact" :messages="messages" :user="this.user" @new="saveNewMessage"></Conversation>
        <ContactsList :user="user" :contacts="contacts" @selected="startConversationWith"></ContactsList>
    </div>
</template>
<script>
import Conversation from "./subfiles/Conversation";
import ContactsList from "./subfiles/ContactsList";

export default {
    props: {
        user: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            selectedContact: null,
            messages: [],
            contacts: []
        };
    },

    mounted() {
        Echo.private(`messages.${this.user.id}`)
            .listen('.private-new-message', e => {
                this.handleIncoming(e.message);
            });

        axios.get(`/api/get?api_token=${this.user.api_token}`)
            .then((response) => {
                this.contacts = response.data;
            });
    },

    methods: {
        startConversationWith(contact) {
            this.updateUnreadCount(contact, true);
            axios.get(`/api/conversation/${contact.id}?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.messages = response.data;
                    this.selectedContact = contact;
                })
        },
        saveNewMessage(message) {
            this.messages.push(message);
        },
        handleIncoming(message) {
            if (this.selectedContact && message.from_id == this.selectedContact.user.from.id) {
                this.saveNewMessage(message);
                return;
            }
            this.updateUnreadCount(message.from, false);
        },
        updateUnreadCount(contact, reset) {
            this.contacts = this.contacts.map((single) => {
                if(single.user_id !== contact.user_id){
                    return single;
                }
                if (reset)
                    single.unread = 0;
                else
                    single.unread += 1;

                return single;
            });
        }
    },

    components: {Conversation, ContactsList}
}
</script>
