<template>
    <div>
        <div class="messenger-composer-wrapper">
            <div class="messenger-container" v-for="(contact, index) in contacts" v-if="showFeed.includes(contact.user_id)">
                <div class="messenger-settings-header">
                    <div class="d-flex justify-content-start w-75">
                        <img class="rounded-circle" :src="contact.user.avatar" :alt="`contact-${contact.user.name}`">
                        <span>{{ contact.user.name }}</span>
                    </div>
                    <div @click="toggleActiveFeed(contact.user_id)" class="w-25">
                        <button class="messenger-close-button">&times;</button>
                    </div>
                </div>
                <Feed :user="user" :contact="contact" :from="from"></Feed>
            </div>
        </div>

        <div class="messenger-container-settings" v-if="hover">
            <div class="messenger-settings-header">
                <h6>Contacts:</h6>
                <button class="messenger-close-button" @click="hover = false">&times;</button>
            </div>
            <div class="messenger-settings-search w-100">
                <input v-model="selectContact" class="messenger-settings-search-input" type="text" placeholder="Search for contact..."/>
            </div>
            <div class="m-0 p-0">
                <ul class="messenger-settings-contacts-wrapper">
                    <li class="messenger-settings-item" v-for="(settingsContact, index) in filteredContacts" @click="toggleActive(settingsContact.user_id)">
                        <div class="messenger-settings-contact">
                            <div class="w-25 mx-1">
                                <img :src="settingsContact.user.avatar" alt="profile-2">
                            </div>
                            <div class="messenger-settings-username">
                                <div class="messenger-settings-username-span">
                                    {{settingsContact.user.name}}
                                </div>
                                <small>
                                    15 min ago
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="messenger">
            <ul class="messenger-wrapper">
                <li class="messenger-item" v-for="(contact, index) in contacts" v-if="show.includes(contact.user_id)" @mouseover="toggleActiveX(contact.user_id)" @mouseleave="unToggleActiveX(contact.user_id)">
                    <div class="d-flex justify-content-center">
                        <img @click="toggleActiveFeed(contact.user_id)" :src="contact.user.avatar" :alt="`profile-${contact.user.name}`" class="messenger-icon rounded-circle">
                        <div class="close-messenger-icon" @click="unToggleActive(contact.user_id)"  v-if="showX.includes(contact.user_id)">
                            <span>&times;</span>
                        </div>
                        <div class="messenger-counter" v-else-if="contact.unread">
                            <span v-if="contact.unread">
                                {{contact.unread}}
                            </span>
                        </div>
                        <div class="empty-counter" v-else>
                            <span>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="messenger-item" id="contact-wrapper" @click="hover = true">
                    <div class="d-flex justify-content-center">
                        <img src="/storage/custom-nav/settings.svg" alt="profile-1" class="messenger-settings rounded-circle">
                        <div class="close-messenger-icon-settings">
                            <span></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import Feed from "./sub/Feed";
const moment = require('moment');
export default {
    props: {
        user: {
            type: Object,
            required: true
        },
        to: {
            type: Object,
            required: false,
        },
        from: {
            type: Object,
            required: false,
        }
    },

    data() {
        return {
            contacts: [],
            selectedContact: null,
            messages: [],
            hover: false,
            selectContact: '',
            show: [],
            showFeed: [],
            showX: [],
        }
    },

    mounted() {
        Echo.private(`messages.${this.user.id}`)
            .listen('.private-new-message', e => {
                this.updateUnreadCount(e.message.from, false);
            })

        axios.get(`/api/get?api_token=${this.user.api_token}`)
            .then((response) => {
                this.contacts = response.data;
            });
    },

    methods: {
        toggleActive(index) {
            this.show.push(index);
            this.toggleFeed(index);
        },

        unToggleActive(index) {
            if (this.show.includes(index)) {
                this.show = this.show.filter(entry => entry !== index);

                return;
            }

            this.show.push(index);
        },

        toggleActiveFeed(user_id) {
            if (this.showFeed.includes(user_id)) {
                this.showFeed = this.showFeed.filter(entry => entry !== user_id);

                return;
            }
            this.showFeed.push(user_id);
            this.readMSG(user_id);
        },

        toggleFeed(user_id) {
            this.showFeed.push(user_id);
            this.readMSG(user_id);
        },

        readMSG(user_id) {
            axios.get(`/api/messages/read/${user_id}?api_token=${this.user.api_token}`);
        },

        toggleActiveX(index) {
            if (this.showX.includes(index)) {
                // this.showX = this.showX.filter(entry => entry !== index);
                return;
            }
            this.showX.push(index);
        },

        unToggleActiveX(index) {
            if (this.showX.includes(index)) {
                this.showX = this.showX.filter(entry => entry !== index);
            }
        },

        formatDate (old) {
            return moment(old).fromNow();
        },

        startConversationWith(contact) {
            this.updateUnreadCount(contact, true);
            axios.get(`/api/conversation/${contact.id}?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.messages = response.data;
                    this.selectedContact = contact;
                })
        },
        updateUnreadCount(contact, reset) {
            this.contacts = this.contacts.map((single) => {
                if(single.user_id !== contact.user_id){
                    return single;
                }
                if (reset)
                    single.unread = 0;
                else
                    single.unread += 1;

                return single;
            });
            this.toggleActive(contact.user_id);
            this.toggleFeed(contact.user_id);
        }
    },

    computed: {
        sortedContacts() {
            return _.sortBy(this.contacts, [(contact) => {
                return contact.user.name;
            }
            ]);
        },
        filteredContacts: function() {
            return this.contacts.filter((contact) => {
                return contact.user.name.match(this.selectContact);
            });
        }
    },

    components: {Feed}

}
</script>
