.alert-wrapper{
    width: 100%;
    /*min-height: 10vh;*/
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 0.25rem;
}

.alert-success{
    width: 100%;
    background: limegreen;
    border-radius: 0.25rem;
}

.alert-danger{
    width: 100%;
    background: red;
    border-radius: 0.25rem;
}

.alert-warning{
    width: 100%;
    background: yellow;
    border-radius: 0.25rem;
}
