.post-details {
    padding: 2em 5%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .post-details {
        flex-direction: column;
    }
}

.author-avatar {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #2779FB;
    margin: 0 auto 1em auto;
}

.author-name, .author-role {
    margin: 0;
}

.author-name {
    font-size: 18px;
    font-weight: bold;
}

.author-role {
    font-size: 14px;
}

.post-author  {
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

@media (min-width: 1000px) {
    .post-author {
        margin-right: 2em;
        width: 27%;
    }
}


@media (max-width: 1000px) {
    .post-author {
        margin-bottom: 1em;
        width: 100%;
    }

    .post-reactions-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reactions-container {
        margin-bottom: 1em;
        width: 93% !important;
    }
}

.post-content {
    width: 100%;
    border-radius: 8px;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.post-reactions {
    font-size: 14px;
    padding: 0.5em 2em;
    display: flex;
    justify-content: space-between;
    background-color: #2779FB;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 1em;
}
.reactions-container > div > a {
    cursor: pointer;
}

.back-btn {
    position: absolute;
    left: 0;
    margin-left: 6%;
}

.currently-reacted {
    color: #27B2FC !important;
}

.comments, .views, .likes {
    text-align: center;
}

.post-options {
    display: flex;
    justify-content: space-between;
}

.post-option-icon {
    color: #2779FB !important;
}

.post-option-icon:hover {
    color: #27B3FC !important;
}

.fa-trash-alt {
    color: #EE4B4B !important;
}

.delete-form {
    display: inline;
    cursor: pointer;
}

.delete-form-button, .delete-form-button:hover, .delete-form-button:focus{
    outline: none;
    border: none;
}

.top-post-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enterprise-users {
    display: flex;
}

.enterprise-users > a {
    text-align: center;
}

.enterprise-users > a > img {
    width: 2.5em;
    border: 1px solid #2779FB;
    object-fit: contain;
    border-radius: 50%;
    margin-left: 0.2em;
}

.enterprise-users > a > img:hover {
    border: 2px solid #2779FB;
}

.code-value, .date-value {
    color: #2779FB;
}

.post-attachments {
    margin: 1em 0;
    border: 2px solid #2779FB;
    border-radius: 8px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
}

.post-attachments > a > i {
    color: #2779FB;
    font-size: 24px;
}

.post-attachments > a > i:hover {
    color: #27B3FC;
}

.post-heading {
    text-align: center;
    color: #2779FB;
}

.post-image {
    border: 1px solid #2779FB;
    max-width: 25em;
    margin: 1.5em auto;
}

@media (max-width: 1000px) {
    .post-image {
        width: 80%;
    }
}

.post-paragraphs {
    text-align: justify;
}

.post-reactions-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reactions-container {
    width: 13em;
    float: right;
    background-color: #2779FB;
    color: #ffffff;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.reactions-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reactions-container > a {
    text-decoration: none;
}

.reactions-container > a > span {
    color: #ffffff;
}

.show-button:focus {
    outline: none;
}
