.main-category-body{
    width: 100%;
    /*min-width: 99vw;*/
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.category-title{
    font-size: 1.5em;
    color: #4C92BF;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: bolder;
}

.subcategory-title{
    font-size: 1.2em;
    color: #4C92BF;
    margin-bottom: 1em;
}

.category-search-wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 3em;
    margin: 2em auto;
    text-align: right;
}

.category-create-button-wrapper{
    margin-left: 2em;
    font-size: 0.85em;
    width: 12%;
}

.category-search-button-wrapper{
    width: 80%;
}

.category-search-input{
    width: 70%;
    height: 100%;
    border: 3px solid #4C92BF;
    color: #4C92BF;
    font-weight: bolder;
}

.category-search-button{
    width: 20%;
    height: 100%;
    margin-left: -1em;
    border: 3px solid #4C92BF;
    background: #4C92BF;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

.category-create-button{
    width: 100%;
    height: 100%;
    margin-left: -1em;
    background: linear-gradient(270deg, #27B3FC 0%, rgba(155, 220, 254, 0.462963) 37.5%, rgba(255, 255, 255, 0) 84.38%), #277AFC;
    border-radius: 11px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}

.category-body-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-post-codes-inputs, .create-post-codes-inputs:focus{
    width: 100%;
    border:1px solid gray;
    height: 2.3em;
    font-size: 1.1em;
    border-radius: 3px;
    outline: none;
}

.create-posts-form{
    margin-left: 7em;
}

.category-event-subcategory-wrapper{
    width: 10%;
    margin-left: 2%;
}

.category-subcategory-title{
    width: 100%;
    text-align: center;
    background: #4C92BF;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
}

.category-subcategory-body{
    width: 100%;
    min-height: 40vh;
    max-height: 50vh;
    border: 3px solid #4C92BF;
    text-align: center;
    overflow: scroll;
}

.category-subcategory-body>div{
    margin-top: 1em;
    text-transform: uppercase;
}

.category-subcategory-body>div>a{
    color: #4C92BF;
    font-weight: bolder;
}

.category-post-wrapper{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    grid-row-gap: 1em;
    width: 80%;
    margin-left: 2%;
}

.event-wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #4C92BF;
    padding: 2em;
}

.event-title{
    width: 100%;
    text-align: center;
    margin: 1.5em auto 3em auto;
    text-transform: uppercase;
    color: #4C92BF;
    font-weight: bolder;
    font-size: 1.5em;
}

.category-event-post-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
    margin-right: 2%;
    border: 3px solid #4C92BF;
}

.category-post-body{
    height: auto;
    border: 2px solid #4C92BF;
}

.category-event-post-body{
   display: flex;
    height: auto;
   justify-content: center;
}

.category-post-content{
    width: 100%;
}

.category-event-post-content{
    width: 40%;
}

.event-right-div{
    width: auto;
}

.event-right-date{
    display: grid;
    grid-template-columns: 70% 15% 15%;
    width: 100%;
    background: #4C92BF;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.event-speciality{
    background: white;
    color: #4C92BF;
    text-transform: none;
    text-align: center;
    margin-bottom: 0.2em;
}

.category-post-body-image{
    width: 100%;
}

.category-post-sample{
    font-size: 0.9em;
    background: #EDF4EE;
    color: #4C92BF;
}

.category-event-post-sample{
    font-size: 0.9em;
    background: #EDF4EE;
    color: #4C92BF;
}

.category-post-sample-text{
    text-align: justify;
    padding: 0.5em;
}

.category-event-post-sample-text{
    text-align: justify;
    padding: 0.5em;
}

.category-post-a-tag{
    text-align: right;
    margin-top: 0.2em;
    padding: 0.2em;
    font-weight: bolder;
}

.category-event-post-a-tag{
    text-align: right;
    margin-top: 0.2em;
    padding: 0.2em;
    font-weight: bolder;
}


.category-info-wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row-gap: 1em;
    width: 95%;
    margin: 2em auto;
    border: 2px solid #4C92BF;
}

.category-info-content{
    width: 100%;
    color: #4C92BF;
}

.category-info-body-image{
    width: 100%;
}

.category-info-sample{
    font-size: 0.9em;
    background: #EDF4EE;
    color: #4C92BF;
}

.category-info-sample-text{
    text-align: justify;
    padding: 0.5em;
    font-size: 1.2em;
    color: #4C92BF;
}

.category-info-a-tag{
    text-align: right;
    font-size: 1.2em;
    margin-top: 0.2em;
    padding: 0.3em;
    font-weight: bolder;
}

.career-wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
}

.career-post-content{
    min-height: 10vh;
    width: 25%;
    background: #4C92BF;
    color: white;
    font-size: 0.9em;
    margin-right: 1%;
    text-align: center;
}

.career-post-content-right{
    min-height: 10vh;
    width: 15%;
    background: #4C92BF;
    color: white;
    text-align: center;
    line-height: 4vh;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bolder;
}

.career-post-sample{
    font-size: 0.85em;
    background: #EDF4EE;
    color: #4C92BF;
}

.career-post-sample-text{
    text-align: justify;
    padding-right: 1.5em;
}

.career-post-a-tag{
    text-align: right;
    margin-top: 0;
    padding-right: 0.7em;
    font-weight: bolder;
}

.category-current-subcategory{
    background: rgba(76, 146, 191, 0.4);
}


@media only screen and (max-width: 801px) {
    .category-create-button-wrapper{
        width: 42%;
    }
}
