.chat-wrapper{
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 70vh;
    border: 2px solid #4C92BF;
    border-radius: 0.5rem;
}

.conversation{
    width: 100%;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #4C92BF;
}

h1{
    font-size: 1em;
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px dashed lightblue;
}

.composer>textarea{
    width: 100%;
    outline: none;
    resize: none;
    padding: 0.5em;

}

.contacts-list{
    flex: 2;
    border-right: 1px solid #4C92BF;
    height: 100%;
    background-color: #E9EBEC;
    overflow-y: scroll;

}

.contacts-list>ul{
    list-style-type: none;
    padding-left: 0;
}

.contacts-list>ul>li{
    position: relative;
    display: flex;
    padding: 0.5em;
    cursor: pointer;
    height: 100px;
    border-bottom: 1px solid #4C92BF;
}

.contacts-list>ul>li.selected{
    background-color: #8C92BF;
    color: #ffffff;
}

.avatar{
    flex: 1;
    display: flex;
    align-items: center;
}

.avatar-image{
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
}

.contact{
    flex: 3;
    font-size: 0.8em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact>p{
    margin: 0;
}

.name{
    font-weight: bold;
}

.feed{
    background-color: #f0f0f0;
    height: 100%;
    max-height: 550px;
    overflow-y: scroll;
}

.feed>ul{
    list-style-type: none;
    padding: 0.5em;
}

li.message{
    margin: 1em 0;
    width: 100%;
}

.received{
    text-align: right;
}

.received .text{
    background: #4C92BF;
}

.text{
    border-radius: 0.5rem;
    max-width: 80%;
    padding: 0.9em;
    display: inline-block;
    color: #ffffff;
}

.sent .text{
    background: #7abaff;
}

.unread{
    position: absolute;
    top: 1em;
    right: 2em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C92BF;
    color: white;
    font-weight: bold;
    padding: 0;
    border-radius: 0.5rem;
}

.count-unreaded{
    background: rgb(255,229,0);
    width: 1.5em;
    height: 1.5em;
    border: none;
    padding: 0.1em;
    font-weight: bolder;
    color: black;
    top: 5px;
    right: 1em;
    border-radius: 50%;
}

.ml-5 {
    margin-left: 0 !important;
}
