/* Main setup */
@font-face {
  font-family: "Gotham-Rounded-Light";
  src: url("Gotham Rounded Light.otf");
}
@font-face {
  font-family: "Gotham-Rounded-Medium";
  src: url("Gotham Rounded Medium.otf");
}
* {
  box-sizing: border-box;
}
:root {
  --main-font: Gotham-Rounded-Light;
  --second-font: Gotham-Rounded-Medium;
  --main-color: #277afc;
  --second-color: #27b3fc;
  --third-color: #ffffff;
  --background-color: #f5f5f5;
  --navigation-gradient: linear-gradient(
      270deg,
      #27b3fc 0%,
      rgba(155, 220, 254, 0.462963) 37.5%,
      rgba(255, 255, 255, 0) 84.38%
    ),
    linear-gradient(0deg, #277afc, #277afc);
  --scroll-color: #dadada;
  --notification-background-color: #ffe600;
  --notification-color: #363636;
}
body {
  background: var(--background-color);
  font-family: var(--main-font);
  margin: 0;
}
a {
  text-decoration: none;
}

/* Navigation */
.navigation {
  list-style-type: none;
  margin: auto auto;
  padding: 0;
  margin-bottom: 10px;
  position: static;
  background: var(--navigation-gradient);
  overflow: hidden;
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  height: 4%;
  width: 4%;
  margin-left: 1%;
  margin-top: 2%;
  border-radius: 35px;
}

/* Profile */
.profile-navigation {
  float: right;
  top: 0;
}
.profile-icon {
  font-size: 30px;
}
.notification {
  color: var(--third-color);
  padding: 15px 7px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.notification .badge {
  position: absolute;
  top: 8px;
  right: 1px;
  padding: 0px 5px;
  border-radius: 50%;
  font-family: var(--second-font);
  background: var(--notification-background-color);
  color: var(--notification-color);
}

/* Navigation Links */
.navigation-links {
  line-height: 1.5em;
}
/*ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  float: right;*/
/*  display: flex;*/
/*}*/
/*li {*/
/*  display: inline;*/
/*  padding: 12px;*/
/*  text-align: center;*/
/*}*/
/*li a {*/
/*  color: var(--third-color);*/
/*  text-transform: uppercase;*/
/*}*/

.selected a {
  border-bottom: 1px solid var(--third-color);
  line-height: 2;
  padding: 8px;
}

/* Filter */
.filter-container {
  display: inline-flex;
  padding-top: 6%;
}
.filter {
  color: var(--third-color);
  padding: 20px;
  font-size: 30px;
}
.selected-filter {
  background-color: var(--third-color);
  height: 30px;
  width: 260px;
  border-radius: 11px;
  font-family: var(--main-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 21px;
  vertical-align: middle;
  display: inline-flex;
}
.speciality {
  padding-left: 10px;
  margin-top: 2px;
}
.selected-category {
  background-color: var(--main-color);
  color: var(--third-color);
  height: 25px;
  width: 100px;
  border-radius: 11px;
  margin-left: 65px;
  margin-top: 3px;
}
.selected-category-text {
  font-family: var(--second-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 17px;
  margin-left: 7px;
  vertical-align: middle;
}

.wrapper {
    width: 100%;
}

/* Sections */
.section {
    border: 1px solid red;
  display: flex;
  height: auto;
  width: 100%;
  border-radius: 11px;
  margin-left: 4%;
    margin-bottom: 5%;
}
.user-info {
  background: var(--third-color);
  height: 195px;
    border: 2px solid green;
    width: 100%;
  /*width: 265px;*/
  border-radius: 11px;
  margin-right: 7%;
  padding: 10% 10% 10% 10%;
  box-shadow: 0px 4px 9px 0px grey;
}
.user-photo {
  /*height: 120px;*/
  width: 100%;
  border-radius: 50%;
  /*margin-top: -11%;*/
  border: 2px solid var(--main-color);
}
.user-name {
  font-family: var(--second-font);
  font-size: 13px;
  text-align: center;
}
.section-info {
  background: var(--third-color);
  height: 195px;
  width: 1033px;
  border-radius: 11px;
  box-shadow: 0px 4px 9px 0px grey;
}

/* Sharing */
.sharing {
  text-align: center;
  padding-top: 30px;
}
.user {
  font-family: var(--second-font);
}

/* Date */
.date {
  float: left;
  text-transform: uppercase;
  border-bottom: 0.6px solid var(--main-color);
  line-height: 2;
  font-size: 13px;
  padding-left: 0.6%;
}
.date-number {
  font-family: var(--second-font);
}

/* Activity */
.activity {
  display: inline-flex;
  background: var(--second-color);
  color: var(--third-color);
  font-family: var(--second-font);
  text-align: center;
  height: 33px;
  width: 230px;
  border-radius: 11px;
  float: right;
  justify-content: space-around;
  padding-top: 6px;
  margin: 0 1% 0 0;
}
.activity-icon {
  vertical-align: middle;
}

/* Title and content */
.third-line {
  display: inline-block;
}
.title {
  font-family: var(--second-font);
  padding-left: 0.6%;
}
.content {
  height: 145px;
  width: 970px;
  padding-left: 0.6%;
}
.content-text {
  font-family: var(--main-font);
  font-size: 27px;
  font-style: normal;
  font-weight: 350;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.forth-line {
  float: right;
  margin: -10% 1% 0 0;
}

/* Button */
.button {
  display: table-cell;
  height: 33px;
  width: 230px;
  border-radius: 11px;
  background: var(--second-color);
}
.button-text {
  color: var(--third-color);
  font-family: var(--second-font);
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.not-shared-second-line {
  padding-top: 10px;
}
.not-shared-third-line {
  padding-top: 10px;
}
.not-shared-forth-line {
  margin-top: -8.6%;
}
