.home-message {
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #ffffff;
    padding: 2.5em 0;
}

.home-logo {
    width: 4em;
}

.home-heading {
    margin: 1em 0;
}

.message-content {
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
}
