#custom-overlay {
    width: 100%;
}

.custom-modal{
    position: fixed;
    top: 50%;
    left:50%;
    background-color: #EDF4EE;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid #2779FB;
    border-radius: 0.5rem;
    z-index: 1000;
    width: 40em;
    max-width: 70%;
}

.custom-modal.custom-modal-active{
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
}

.custom-modal-header{
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2779FB;
}

.custom-modal-header .custom-modal-title{
    font-size: 2em;
    font-weight: bolder;
}

.custom-modal-header .custom-close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2em;
    font-weight: bolder;
}

.custom-modal-body
{
    padding: 1em;
}

#custom-overlay{
    opacity: 1;
    pointer-events: all;
}

#custom-overlay.custom-active{
    /*opacity: 0;*/

}

.modal-full-overlay-active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
    z-index: 30000;
}
