.post-create-wrapper{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 1em;
    width: 100%;
    margin-left: 2%;
}

.create-posts-body{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2%;
    background: var(--second-color);
    border: 3px solid var(--second-color);
    border-radius: 11px;
    color: white;
}

.create-posts-body-title{
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    background: var(--second-color);
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bolder;
    border-radius: 5px 5px 0 0;
}

.create-posts-inputs{
    display: grid;
    grid-template-columns: 20% 75%;
    grid-column-gap: 3%;
    text-align: center;
}

.create-posts-body-image{
    margin: 3em auto;
    width: 50%;
}

.create-posts-textarea-wrapper{
    margin: 3em auto;
    width: 100%;
}

.create-posts-title-input{
    width: 80%;
    height: 1em;
    border: 2px solid #4C92BF;
    border-radius: 11px;
    outline: none;
    padding: 1em;
    overflow: auto;
    color: black;
}

.range-age{
    width: 18%;
    height: 1em;
    border: 2px solid #4C92BF;
    border-radius: 11px;
    outline: none;
    padding: 0.7em 0 0.7em 0.4em;
    overflow: auto;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.2em;
}
.location-input{
    width: 50%;
    height: 1em;
    border: 2px solid #4C92BF;
    border-radius: 11px;
    outline: none;
    padding: 1em;
    overflow: auto;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
}

.age-location{
    margin: 1em auto;
    text-align: center;
}

.create-posts-textarea, .create-posts-textarea:hover, .create-posts-textarea:focus{
    width: 80%;
    height: 18em;
    border: 2px solid #4C92BF;
    border-radius: 2rem;
    outline: none;
    padding: 2em;
    overflow: auto;
    color: black;
}

.create-posts-files-wrapper{
    grid-column: 1/2;
    text-align: center;
    margin-bottom: 2em;
    width: 100%;
}

.create-posts-files{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.create-posts-files>div{
    margin-top: 1em;
    border-bottom: 1px solid var(--second-color);
}

.create-posts-files>div>label{
    font-size: 1.1em;
    font-weight: bold;
}

.create-posts-files>div>input{
    margin-bottom: 1em;
    color: black;
}

.create-posts-files>div>input[type='text'], .create-posts-files>div>input[type='text']:focus{
    margin-bottom: 1em;
    border-radius: 11px;
    border: 1px solid var(--second-color);
    outline: none;
}

.create-post-btn, .create-post-btn:focus{
    outline: none;
    color: white;
    text-transform: uppercase;
    background: var(--navigation-gradient);
    width: 10%;
    font-size: 1.5em;
    border-radius: 0.5rem;
}

.post-wrapper{
    width: 90%;
    min-height: 22em;
    border: 2px solid #4C92BF;
    margin-bottom: 5em;
}

.post-author-wrapper{
    width: 99%;
    margin-left: 1%;
    border-bottom: 2px solid #4C92BF;
}

.post-author-image{
    width: 100%;
}

.post-body-wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.post-reaction-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 75%;
    padding: 0.5em;
    background: var(--second-color);
    border-radius: 11px;
}

.post-reaction{
    display: flex;
    color: #ffffff;
    font-size: 1.1em;
    justify-content: center;
    width: 50%;
}

.post-reaction>a{
    margin-left: 0.3em;
}

.post-reaction>a>img{
    width: 1.6em;
}
.post-reaction>span>a{
    margin-left: 0.3em;
    cursor: pointer;
}

.post-reaction>span>a>img{
    width: 5em;
}

.react-comment{
    width: 50%;
    font-size: 1.3em;
    color: white;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.post-reaction>span ~ .react-comment{
    display: flex;
}

.react-notification{
    color: white;
    background: rgba(0,255,0,0.4);
    border-radius: 5px;
    font-size: 1.5em;
}


img {
    margin: 0 auto;
    width: 20em;
}
