body{
    font-family: 'Quicksand', sans-serif;
}
:root {
    --main-font: Quicksand;
    --second-font: Quicksand-Medium;
    --main-color: #277afc;
    --second-color: #27b3fc;
    --third-color: #ffffff;
    --background-color: #f5f5f5;
    --navigation-gradient: linear-gradient(
        270deg,
        #27b3fc 0%,
        rgba(155, 220, 254, 0.462963) 37.5%,
        rgba(255, 255, 255, 0) 84.38%
    ),
    linear-gradient(0deg, #277afc, #277afc);
    --scroll-color: #dadada;
    --notification-background-color: #ffe600;
    --notification-color: #363636;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*nav{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 20em;*/
/*    max-height: 25vh;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background: linear-gradient(270deg, #27B3FC 0%, rgba(155, 220, 254, 0.462963) 37.5%, rgba(255, 255, 255, 0) 84.38%), #277AFC;*/
/*}*/
/*.notification {*/
/*    color: var(--third-color);*/
/*    padding: 15px 7px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    border-radius: 2px;*/
/*}*/
/*.notification .badge {*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    right: 1px;*/
/*    padding: 0px 5px;*/
/*    border-radius: 50%;*/
/*    font-family: var(--second-font);*/
/*    background: var(--notification-background-color);*/
/*    color: var(--notification-color);*/
/*}*/

/*!* Navigation Links *!*/
/*.navigation-links {*/
/*    line-height: 1.5em;*/
/*}*/

/*.custom-nav-tag{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    gap: 5px;*/
/*}*/


/*nav>a{*/
/*    color: white;*/
/*}*/

/*nav>ul{*/
/*    align-items: center;*/
/*}*/

/*.custom-nav-logo{*/
/*    width: 75%;*/
/*    margin-top: -3em;*/
/*    margin-left: -0.2em;*/
/*}*/

/*.custom-nav-wrapper{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*}*/

/*.custom-nav-icons{*/
/*    display: flex;*/
/*    margin-top: -3em;*/
/*    !*margin-bottom: 3em;*!*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    float: right;*/
/*    position: absolute;*/
/*    width: 25%;*/
/*    right: 0;*/
/*}*/

/*.custom-nav-icons-mobile{*/
/*    display: none;*/
/*}*/

/*.custom-nav-icons>div{*/
/*    margin-left: 0;*/
/*}*/

/*.custom-nav-images{*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    margin-left: 1em;*/
/*}*/

/*.guest-login-register{*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*.lang-settings{*/
/*    min-width: 10% !important;*/
/*    color: #4C92BF !important;*/
/*}*/

/*.lang-span{*/
/*    color: white;*/
/*    font-weight: bolder;*/
/*}*/

/*.lang-settings>a{*/
/*    text-align: center;*/
/*    color: #4C92BF;*/
/*}*/

/*.guest-login-register>div{*/
/*    width: 38%;*/
/*    margin-left: 2%;*/
/*}*/

/*.guest-login-register>div>a{*/
/*    width: 100%;*/
/*    margin-left: 1em;*/
/*    color: #4C92BF;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/

/*.guest-login-register>div>a>button{*/
/*    width: 100%;*/
/*    background: white;*/
/*    padding: 0.5em;*/
/*    border: none;*/
/*    border-radius: 0.5rem;*/
/*}*/

/*.custom-nav-search-wrapper{*/
/*    width: 25%;*/
/*    right: 10px;*/
/*}*/

/*.custom-nav-search-image{*/
/*    margin-left: 75%;*/
/*    width: 5%;*/
/*    right: 10px;*/
/*}*/

/*.nav-specality-image{*/
/*    width: 20%;*/
/*}*/

/*.nav-search-bar{*/
/*    margin-top: -30px;*/
/*    margin-left: 2em;*/
/*    color: var(--third-color);*/
/*}*/

/*.search-input-vue{*/
/*    height: 1.5em;*/
/*    border: none;*/
/*    outline: none;*/
/*    border-radius: 5px;*/
/*    color: black;*/
/*}*/

/*.speciality-vue-wrapper{*/
/*    position: absolute;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 350px;*/
/*    height: 2em;*/
/*    align-items: center;*/
/*    max-height: 2em;*/
/*    background: white;*/
/*    padding: 0 0.5em;*/
/*    font-weight: bolder;*/
/*    border-radius: 11px;*/
/*    margin-top: -34px;*/
/*    left: 0;*/
/*    margin-left: 15px;*/
/*}*/


/*.speciality-vue-show{*/
/*    width: 60%;*/
/*    height: 80%;*/
/*    align-items: center;*/
/*    border-radius: 11px;*/
/*    color: white;*/
/*    padding: 0 1em;*/
/*    background: rgba(39, 122, 252, 0.87);*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*.speciality-vue-dropdown{*/
/*    width: 16em !important;*/
/*    height: 20em;*/
/*    color: black;*/
/*    font-weight: lighter;*/
/*    overflow-y: scroll;*/
/*}*/

/*.speciality-vue-dropdown>p {*/
/*    line-height: 95%;*/
/*}*/

/*.speciality-vue-dropdown>p>a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

/*.speciality-vue-dropdown>p>a:hover {*/
/*    color: #4C92BF;*/
/*}*/

/*.btn-speciality, .btn-speciality:focus{*/
/*    width: 100%;*/
/*    padding: 0 0.2em;*/
/*    background: white;*/
/*    !*background: rgba(39, 122, 252, 0.87);*!*/
/*    border-radius: 0.5rem;*/
/*    color: black;*/
/*    text-align: left;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.btn-span-all{*/
/*    float: right;*/
/*    width: 60%;*/
/*    background: rgba(39, 122, 252, 0.87);*/
/*    border-radius: 0.5rem;*/
/*    padding: 0 0.2em;*/
/*    font-weight: bolder;*/
/*    color: white;*/
/*}*/

/*#open-hidden-box{*/
/*    cursor: pointer;*/
/*}*/

/*#open-hidden-box:focus .speciality-vue-wrapper, #open-hidden-box:hover .speciality-vue-wrapper{*/
/*    display: block;*/
/*}*/

/*::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/

/*.notification-drop-wrapper{*/
/*    -webkit-appearance: none !important;*/
/*    -moz-appearance: none !important;*/
/*    appearance: none !important;*/
/*}*/

/*.notification-drop{*/
/*    position:absolute;*/
/*    width: 20em !important;*/
/*    max-height: 15em !important;*/
/*    top:100%;*/
/*    !*left:0;*!*/
/*    right: 10px;*/
/*    z-index:1000;*/
/*    display:none;*/
/*    float: none !important;*/
/*    min-width:10rem;*/
/*    padding:.5rem 0;*/
/*    margin-top: 0.1em !important;*/
/*    margin-left: -7em !important;*/
/*    margin-right: 2em !important;*/
/*    font-size:1rem;*/
/*    color:white;*/
/*    text-align:left;*/
/*    list-style:none;*/
/*    background: linear-gradient(270deg, #27B3FC 0%, rgba(155, 220, 254, 0.462963) 37.5%, rgba(255, 255, 255, 0) 84.38%), #277AFC !important;*/
/*    background-clip:padding-box;*/
/*    border:1px solid rgba(0,0,0,.15);*/
/*    border-radius: 11px;*/
/*    overflow-y: scroll;*/
/*}*/

/*.notification-messages{*/
/*    width: 100%;*/
/*    font-size: 0.9em;*/
/*    margin-bottom: 0.2em;*/
/*}*/

/*.notification-messages>a,*/
/*.notification-messages>a:hover,*/
/*.notification-messages>a:focus{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*.notification-image-div{*/
/*    height: 4em;*/
/*    width: 4em;*/
/*    background-size: cover;*/
/*    margin-left: 1em;*/
/*    border-radius: 51%;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    margin-right: 1em;*/
/*}*/

/*#navbarDropdown {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/


/*@media only screen and (max-width: 801px) {*/
/*    nav{*/
/*        height: 35vh;*/
/*    }*/

/*    .custom-nav-logo{*/
/*        width: 50%;*/
/*    }*/

/*    .custom-nav-icons{*/
/*        display: none;*/
/*    }*/

/*    .mobile-custom-nav{*/
/*        position: absolute;*/
/*        background: rgba(255,255,255, 0.9);*/
/*        margin-left: 50%;*/
/*        color: black;*/
/*        width: 50% !important;*/
/*        height: 10em;*/
/*        min-height: 10vh;*/
/*        top: 3em;*/
/*        border: 1px solid #4C92BF;*/
/*        border-radius: 0.75rem;*/
/*        z-index: 1000;*/
/*        overflow-y: scroll;*/
/*    }*/

/*    .custom-nav{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin-left: 70%;*/
/*        width: 100%;*/
/*        min-height: 30vh;*/
/*        color: black;*/
/*    }*/

/*    .custom-mobile-subcategories{*/
/*        display: none;*/
/*    }*/

/*    .custom-nav-sections>div>a,*/
/*    .custom-nav-sections>div>a:hover,*/
/*    .custom-nav-sections>div>a:focus,*/
/*    .custom-nav-sections>div>a:visited{*/
/*        margin-top: 0.1em;*/
/*        text-decoration: none;*/
/*        color: black;*/
/*    }*/

/*    .custom-nav-search-wrapper{*/
/*        display: none;*/
/*    }*/

/*    .custom-nav-icons-mobile {*/
/*        display: flex;*/
/*        margin-top: 1em;*/
/*    }*/

/*    .nav-speciality-wrapper{*/
/*        margin-top: 1em;*/
/*    }*/

/*    .navbar-toggler-mobile{*/
/*        margin-left: 80%;*/
/*    }*/

/*}*/
/*nav{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 20em;*/
/*    max-height: 25vh;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background: linear-gradient(270deg, #27B3FC 0%, rgba(155, 220, 254, 0.462963) 37.5%, rgba(255, 255, 255, 0) 84.38%), #277AFC;*/
/*}*/
/*.notification {*/
/*    color: var(--third-color);*/
/*    padding: 15px 7px;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    border-radius: 2px;*/
/*}*/
/*.notification .badge {*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    right: 1px;*/
/*    padding: 0px 5px;*/
/*    border-radius: 50%;*/
/*    font-family: var(--second-font);*/
/*    background: var(--notification-background-color);*/
/*    color: var(--notification-color);*/
/*}*/

/*!* Navigation Links *!*/
/*.navigation-links {*/
/*    line-height: 1.5em;*/
/*}*/

/*.custom-nav-tag{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    gap: 5px;*/
/*}*/


/*nav>a{*/
/*    color: white;*/
/*}*/

/*nav>ul{*/
/*    align-items: center;*/
/*}*/

/*.custom-nav-logo{*/
/*    width: 75%;*/
/*    margin-top: -3em;*/
/*    margin-left: -0.2em;*/
/*}*/

/*.custom-nav-wrapper{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*}*/

/*.custom-nav-icons{*/
/*    display: flex;*/
/*    margin-top: -3em;*/
/*    !*margin-bottom: 3em;*!*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    float: right;*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    right: 0;*/
/*}*/

/*.custom-nav-icons-mobile{*/
/*    display: none;*/
/*}*/

/*.custom-nav-icons>div{*/
/*    margin-left: 0;*/
/*}*/

/*.custom-nav-images{*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    margin-left: 1em;*/
/*}*/

/*.guest-login-register{*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/

/*.lang-settings{*/
/*    min-width: 10% !important;*/
/*    color: #4C92BF !important;*/
/*}*/

/*.lang-span{*/
/*    color: white;*/
/*    font-weight: bolder;*/
/*}*/

/*.lang-settings>a{*/
/*    text-align: center;*/
/*    color: #4C92BF;*/
/*}*/

/*.guest-login-register>div{*/
/*    width: 38%;*/
/*    margin-left: 2%;*/
/*}*/

/*.guest-login-register>div>a{*/
/*    width: 100%;*/
/*    margin-left: 1em;*/
/*    color: #4C92BF;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*}*/

/*.guest-login-register>div>a>button{*/
/*    width: 100%;*/
/*    background: white;*/
/*    padding: 0.5em;*/
/*    border: none;*/
/*    border-radius: 0.5rem;*/
/*}*/

/*.custom-nav-search-wrapper{*/
/*    width: 25%;*/
/*    right: 10px;*/
/*}*/

/*.custom-nav-search-image{*/
/*    margin-left: 75%;*/
/*    width: 5%;*/
/*    right: 10px;*/
/*}*/

/*.nav-specality-image{*/
/*    width: 20%;*/
/*}*/

/*.speciality-vue-wrapper{*/
/*    position: absolute;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 350px;*/
/*    height: 2em;*/
/*    align-items: ce*/
/*    nter;*/
/*    max-height: 2em;*/
/*    background: white;*/
/*    padding: 0 0.5em;*/
/*    font-weight: bolder;*/
/*    border-radius: 11px;*/
/*    margin-top: -34px;*/
/*    left: 0;*/
/*    margin-left: 15px;*/
/*}*/

/*.speciality-vue-show{*/
/*    width: 60%;*/
/*    height: 80%;*/
/*    align-items: center;*/
/*    border-radius: 11px;*/
/*    color: white;*/
/*    padding: 0 1em;*/
/*    background: rgba(39, 122, 252, 0.87);*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    text-overflow: ellipsis;*/
/*}*/

/*.speciality-vue-dropdown{*/
/*    width: 16em !important;*/
/*    height: 20em;*/
/*    color: black;*/
/*    font-weight: lighter;*/
/*    overflow-y: scroll;*/
/*}*/

/*.speciality-vue-dropdown>p {*/
/*    line-height: 95%;*/
/*}*/

/*.speciality-vue-dropdown>p>a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

/*.speciality-vue-dropdown>p>a:hover {*/
/*    color: #4C92BF;*/
/*}*/

/*.btn-speciality, .btn-speciality:focus{*/
/*    width: 100%;*/
/*    padding: 0 0.2em;*/
/*    background: white;*/
/*    !*background: rgba(39, 122, 252, 0.87);*!*/
/*    border-radius: 0.5rem;*/
/*    color: black;*/
/*    text-align: left;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/

/*.btn-span-all{*/
/*    float: right;*/
/*    width: 60%;*/
/*    background: rgba(39, 122, 252, 0.87);*/
/*    border-radius: 0.5rem;*/
/*    padding: 0 0.2em;*/
/*    font-weight: bolder;*/
/*    color: white;*/
/*}*/

/*#open-hidden-box{*/
/*    cursor: pointer;*/
/*}*/

/*#open-hidden-box:focus .speciality-vue-wrapper, #open-hidden-box:hover .speciality-vue-wrapper{*/
/*    display: block;*/
/*}*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*.notification-drop-wrapper{*/
/*    -webkit-appearance: none !important;*/
/*    -moz-appearance: none !important;*/
/*    appearance: none !important;*/
/*}*/

/*.notification-drop{*/
/*    position:absolute;*/
/*    width: 20em !important;*/
/*    max-height: 15em !important;*/
/*    top:100%;*/
/*    !*left:0;*!*/
/*    right: 10px;*/
/*    z-index:1000;*/
/*    display:none;*/
/*    float: none !important;*/
/*    min-width:10rem;*/
/*    padding:.5rem 0;*/
/*    margin-top: 0.1em !important;*/
/*    margin-left: -7em !important;*/
/*    margin-right: 2em !important;*/
/*    font-size:1rem;*/
/*    color:white;*/
/*    text-align:left;*/
/*    list-style:none;*/
/*    background: linear-gradient(270deg, #27B3FC 0%, rgba(155, 220, 254, 0.462963) 37.5%, rgba(255, 255, 255, 0) 84.38%), #277AFC !important;*/
/*    background-clip:padding-box;*/
/*    border:1px solid rgba(0,0,0,.15);*/
/*    border-radius: 11px;*/
/*    overflow-y: scroll;*/
/*}*/

/*.notification-messages{*/
/*    width: 100%;*/
/*    font-size: 0.9em;*/
/*    margin-bottom: 0.2em;*/
/*}*/

/*.notification-messages>a,*/
/*.notification-messages>a:hover,*/
/*.notification-messages>a:focus{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*.notification-image-div{*/
/*    height: 4em;*/
/*    width: 4em;*/
/*    background-size: cover;*/
/*    margin-left: 1em;*/
/*    border-radius: 51%;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    margin-right: 1em;*/
/*}*/

/*#navbarDropdown {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*}*/


/*@media only screen and (max-width: 801px) {*/
/*    nav{*/
/*        height: 35vh;*/
/*    }*/

/*    .custom-nav-logo{*/
/*        width: 50%;*/
/*    }*/

/*    .custom-nav-icons{*/
/*        display: none;*/
/*    }*/

/*    .mobile-custom-nav{*/
/*        position: absolute;*/
/*        background: rgba(255,255,255, 0.9);*/
/*        margin-left: 50%;*/
/*        color: black;*/
/*        width: 50% !important;*/
/*        height: 10em;*/
/*        min-height: 10vh;*/
/*        top: 3em;*/
/*        border: 1px solid #4C92BF;*/
/*        border-radius: 0.75rem;*/
/*        z-index: 1000;*/
/*        overflow-y: scroll;*/
/*    }*/

/*    .custom-nav{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin-left: 70%;*/
/*        width: 100%;*/
/*        min-height: 30vh;*/
/*        color: black;*/
/*    }*/

/*    .custom-mobile-subcategories{*/
/*        display: none;*/
/*    }*/

/*    .custom-nav-sections>div>a,*/
/*    .custom-nav-sections>div>a:hover,*/
/*    .custom-nav-sections>div>a:focus,*/
/*    .custom-nav-sections>div>a:visited{*/
/*        margin-top: 0.1em;*/
/*        text-decoration: none;*/
/*        color: black;*/
/*    }*/

/*    .custom-nav-search-wrapper{*/
/*        display: none;*/
/*    }*/

/*    .custom-nav-icons-mobile {*/
/*        display: flex;*/
/*        margin-top: 1em;*/
/*    }*/

/*    .nav-speciality-wrapper{*/
/*        margin-top: 1em;*/
/*    }*/

/*    .navbar-toggler-mobile{*/
/*        margin-left: 80%;*/
/*    }*/

/*}*/
