.side-pic {
    margin: unset;
    width: 8em;
    margin-right: 2em;
}

.form-holder {
    margin-top: 3em;
}

.user-name-pic {
    display: flex;
    align-items: center;
}

.new-image {
    position: absolute;
    margin-left: 3em;
    margin-top: 11em;
}
