html, body{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav{
}

.w-95{
    width: 95%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.text-primary-colour{
    color: #4C92BF;
}

.bordered-primary-colour{
    border: 2px solid #4C92BF;
}

.bordered-1px-primary-colour{
    border: 1px solid var(--second-color);
}

.text-uppercase{
    text-transform: uppercase;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-upper-wrapper{
    float: right;
}

.div-before-upper-items{
    float: left;
    margin-right: 5em;
    margin-top: 1em;
    height: 100%;
    color: white;
    background: #4C92BF;
}

.desktop-navbar{
    display: none;
}

.logo {
    position: absolute;
}

.navbar-upper-items{
    /*float: right;*/
    margin: 0.5em;
}

.navbar-upper-msg{
    width: 100%;
}

.navbar-upper-notif{
    width: 100%;
}

.navbar-upper-profile{
    width: 100%;
}

.navbar-upper-settings{
    width: 100%;
}

.category-wrapper{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.custom-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    float: right;
    /*height: 10vh;*/
    margin: 2em auto;
    padding-top: 3em;
}

.custom-nav-category-vue-wrapper{
    width: 100%;
}

.custom-nav-sections{
    text-align: center;
    text-transform: uppercase;
    height: 100%;
}

.custom-nav-sections>div{
    font-size: 1em;
}

.custom-nav-sections>div>a,
.custom-nav-sections>div>a:hover,
.custom-nav-sections>div>a:focus,
.custom-nav-sections>div>a:visited{
    margin-top: 10.05em;
    text-decoration: none;
    color: white;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.custom-dropdown-a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.custom-dropdown-a-subcategory{
    text-decoration: none !important;
    color: white;
}

.custom-dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    background: var(--navigation-gradient);
    opacity: 0.9;
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -1em;
    margin-top: 0;
}

.custom-dropdown-content a:hover {
    background: var(--navigation-gradient);
}

.custom-dropdown:hover .custom-dropdown-content,
.custom-dropdown:focus .custom-dropdown-content,
.custom-nav-sections:focus .custom-dropdown-content{
    display: block;
}
.custom-dropdown:hover #custom-category-drop,
.custom-dropdown:focus #custom-category-drop,
.custom-nav-sections:focus #custom-category-drop{
    display: block;
}

.home-guest{
    display: flex;
    justify-content: end;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.home-guest>div, .home-guest>div>a{
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-page-a-tag, .home-page-a-tag:hover, .home-page-a-tag:focus{
    text-decoration: none;
}

.home-page-button{
    width: 70%;
    background: linear-gradient(270deg, #27B3FC 0%, rgba(155, 220, 254, 0.462963) 37.5%, rgba(255, 255, 255, 0) 84.38%), #277AFC;
    color: white;
    text-transform: uppercase;
    font-size: 2.5em;
    border-radius: 11px;
}

.main-body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.main-body-title{
    width: 50%;
    font-size: 3em;
    margin-right: auto;
    margin-left: auto;
    background: #4C92BF;
    color: white;
    text-align: center;
}

.main-body-items{
    width: 50%;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    background: #4C92BF;
    color: white;
    text-align: center;
    margin-top: 1em;
}

.main-table{
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 100%;
}

table, th, td {
    border: 3px solid white;
}

.main-category-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 3em auto;
    width: 85%;
    font-size: 2em;
    color: white;
}

.main-category-table{
    background: #4C92BF;
    text-align: center;
}

.category-create{
    width: 40%;
    height: auto;
    background: #4C92BF;
    text-align: center;
}

.card-header{
    margin: 1em 0;
}

.card-body>input[type="text"]{
    color: black;
}

.add-button{
    background: white;
    color: #4C92BF;
    border-radius: 0.5rem;
    margin: 1em 0;
}

.button-primary{
    background: #4C92BF;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5em;
    margin: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-radio{
    margin-left: 2em;
    margin-right: 2em;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    border: 2px solid white;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


@media only screen and (max-width: 801px) {
    .custom-nav-sections>div{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 0.5em;
    }

    .custom-nav-category-vue-wrapper{
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: -4em;
    }
}
