body, main{
    padding: 0 !important;
    margin: 0 !important;
}

.users-wrapper{
    width: 95%;
    margin-top: -4.5em;
    margin-right: auto;
    margin-left: auto;
}

.left-side-menu{
    background: rgb(39,122, 252);
    height: 100%;
    min-height: 60vh;
    text-transform: uppercase;
}

.left-side-menu>span{
    margin-top: 2em;
    margin-bottom: 3em;
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 1px solid white;
    font-size: 1.5em;
}
.left-side-menu>span>a,
.left-side-menu>span>a:hover,
.left-side-menu>span>a:focus{
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    text-decoration: none;
}

.left-side-menu>ul>li{
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}

.custom-dash-links {
    color: black;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: 0.8em;
}

.custom-dash-links:hover, .custom-dash-links:focus{
    text-decoration: none;
    color: black;
}

#other-uni-input{
    width: 50%;
    height: 1.5em;
    border: 2px solid #4C92BF;
    border-radius: 0.5rem;
}

.admin-items-wrapper{
    width: 100%;
    max-height: 20em;
    overflow-y: scroll;

}

.admin-item-div{
    width: 65%;
    text-transform: uppercase;
}
.admin-item-btn{
    width: 30%;
    margin-right: 1em;
}

.admin-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.messages-wrapper{
    margin-top: 2em;
    width: 100%;
}

.list-of-users{
    max-height: 50em;
    overflow: scroll;
}

.custom-input-css{
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--second-color);
    padding-left: .5em;
}


.input-users{
    border-left: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    width: 30%;
    background: snow;
    height: 2.45em;
    border-radius: 11px 0 0 11px;
    outline: none;
    padding-left: 1em;
}

.btn-users, .btn-users:focus{
    height: 2.45em;
    background: var(--navigation-gradient);
    width: 20%;
    border-radius: 0 11px 11px 0;
    margin-left: -5em;
    outline: none;
}


.analyze-posts-wrapper{
    max-height: 10em;
    overflow-y: scroll;
}

.admin-enterprise-users-wrapper{
    max-height: 10em;
    overflow-y: scroll;
}

.generic-users-wrapper{
    max-height: 20em;
    overflow-y: scroll;
}

.user-verify{
    width: 100%;
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid gray;
    margin-bottom: 3em;
}

.unverified{
    color: red;
}
.verified{
    color: green;
}

.nav-unverified{
    color: red;
    font-weight: bolder;
}

.my-events-scroll{
    max-height: 10em;
    overflow-y: scroll;
}
.my-events-users-scroll{
    max-height: 25em;
    overflow-y: scroll;
}
