<template>
    <div>
        <div class="message-feed" ref="msgFeed">
            <ul>
                <li v-for="message in messages"
                    :class="`message${message.from_id == contact.user.from.id ? ' sent' : ' received'}`"
                    :key="message.id">
                    <div class="messenger-feed-text">
                        {{ message.message }}
                    </div>
                    <br>
                    <span class="messenger-feed-date-time">
                        {{ formatDate(message.created_at) }}
                    </span>
                </li>
            </ul>
        </div>
        <div class="messenger-composer">
            <textarea v-model="message" @keydown.enter="send" placeholder="Message..."></textarea>
        </div>
    </div>
</template>
<script>

const moment = require('moment');
export default {
    props: {
        user: {
            type: Object,
            required: true
        },
        contact: {
            type: Object,
            required: true,
        },
        from: {
            type: Object,
            required: false,
        },
        // new: {
        //     type: Object,
        //     required: false,
        // }
    },

    data() {
        return {
            messages: [],
            message: '',
        }
    },

    mounted() {
        Echo.private(`messages.${this.user.id}`)
            .listen('.private-new-message', e => {
                this.handleIncoming(e.message);
            })

        axios.get(`/api/conversation/${this.contact.id}?api_token=${this.user.api_token}`)
            .then((response) => {
                this.messages = response.data;
            })
    },

    methods: {
        formatDate(old) {
            return moment(old).fromNow();
        },

        scrollToBottom() {
            setTimeout(() => {
                this.$refs.msgFeed.scrollTop = this.$refs.msgFeed.scrollHeight - this.$refs.msgFeed.clientHeight;
            }, 50);
        },
        send(e) {
            e.preventDefault();
            if (this.message == '') {
                return;
            }
            axios.post(`/api/conversation/send?api_token=${this.user.api_token}` , {
                contact_id: this.contact.user.id,
                text: this.message
            }).then((response) => {
                this.messages.push(response.data);
            })
            this.message = '';
        },
        saveNewMessage(message) {
            this.messages.push(message);
        },

        handleIncoming(message) {
            // console.log(message);
            if (this.contact && message.from.user_id == this.contact.user_id) {
                this.saveNewMessage(message);
                return;
            }
            // this.updateUnreadCount(message.from, false);
        },

        // updateUnreadCount(contact, reset) {
        //     this.contacts = this.contacts.map((single) => {
        //         if(single.user_id !== contact.user_id){
        //             return single;
        //         }
        //         if (reset)
        //             single.unread = 0;
        //         else
        //             single.unread += 1;
        //
        //         return single;
        //     });
        // }
    },

    watch: {
        contact(contact) {
            this.scrollToBottom();
        },
        messages(messages) {
            this.scrollToBottom();
        }
    }

}
</script>
