html, body, main{
    padding: 0;
    margin: 0;
}

.new-view-nav{
    z-index: 9999 !important;
    position: relative !important;
}

.sub-nav {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10 !important;
    height: auto;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    font-family: 'Quicksand', sans-serif;
}

.new-subnav-name{
    padding-top: .1em;
    color: white;
    font-weight: bolder;
    font-size: 3em;
    text-align: left
}

.right-drop-link {
    color: #ffffff;
    position: absolute;
    right: 2em;
    top: 3em;
    cursor: pointer;
}

.right-drop-link-menu {
    position: absolute;
    height: 85vh;
    width: 20%;
    right: 1em;
    z-index: 100;
    display: none;
    margin-top: 5vh;
    padding: 0.5em;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    border: none;
    color: white;
    font-size: 1.1em;
}

.right-drop-link-menu>li>a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.right-drop-link-menu>li{
    margin-bottom: 1em;
}

.lang-link{
    cursor: pointer;
}

.user-link-options {
    position: relative;
    right: 5em;
    top: 2em;
    display: none;
    z-index: 150;
    font-size: 1em !important;
    color: white !important;
}

.lang-link:focus + .lang-info, .lang-link:hover + .lang-info {
    display: block;
}


.right-drop-link-menu-header{
    font-weight: bolder;
    font-size: 1.2em;
    border-bottom: 1px solid white;
}

.right-drop-link-menu>li>a:hover, .right-drop-link-menu>li>a:hover{
    color: navajowhite;
}

.right-drop-link:focus + .right-drop-link-menu,
.right-drop-link:hover + .right-drop-link-menu,
.right-drop-link-menu:hover, .right-drop-link-menu:focus
.right-drop-link-menu>li>a:hover, .right-drop-link-menu>li>a:hover{
    display: block;
}

.new-home-image{
    position: relative;
    width: 100%;
    height: auto;
    /*z-index: 200;*/
}

.new-home-image>img{
    width: 100%;
}

.new-body-wrapper{
    width: 98%;
    margin: 3em auto 5em auto;
    display: grid;
    grid-template-columns: 70% 23%;
    grid-column-gap: 3%;
}

.new-top-rated{
    width: 100%;
    margin-bottom: 5em;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    border-radius: 11px;
    padding: 0.2em;
}

.new-top-title{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    color: white;
    font-size: 1.3em;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.new-top-post{
    width: 100%;
    margin-bottom: 2em;
}

.new-top-post>div>a, .new-top-post>div>a:hover, .new-top-post>div>a:focus{
    text-decoration: none;
}

.new-top-post-category{
    width: 95%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    border-radius: 11px 11px 0 0;
    padding: 0.5em 0 1em 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.new-top-post-body{
    display: grid;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 45% 55%;
}

.new-top-post-title{
    text-align: justify;
    font-size: 0.85em;
    color: white;
    padding: 0.5em;
    border-left: 1px solid white;
}

.new-top-post-footer{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 0.2em;
    background: white;
    border-radius: 0 0 11px 11px;
}

.new-posts{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.new-top-rated{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.new-posts-top{
    width: 100%;
    height: 5em;
    line-height: 4em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    border-radius: 11px;
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 3em;
}

.new-posts-post{
    margin-bottom: 1em;
}

.new-post-category{
    width: 100%;
    height: 4em;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    text-transform: capitalize;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 11px 11px 0 0 ;
}

.new-post-title{
    width: 100%;
    overflow: hidden;
    color: rgb(39,122,252);
    height: 3em;
    font-size: 1.2em;
    font-weight: bolder;
    padding-left: 2em;
    padding-top: 0.5em;
    border-left: 1px solid rgba(39,122,252,1);
    border-right: 1px solid rgba(39,179,252,1);
}

.new-post-image{
    width: 100%;
}

.new-post-image > img{
    width: 100% !important;
    border-left: 1px solid rgba(39,122,252,1);
    border-right: 1px solid rgba(39,179,252,1);
}
.new-post-body{
    width: 100%;
    overflow: hidden;
    color: rgb(39,122,252);
    height: 8em;
    font-size: 1.2em;
    font-weight: bolder;
    padding-left: 1em;
    padding-top: 1em;
    border-left: 1px solid rgba(39,122,252,1);
    border-right: 1px solid rgba(39,179,252,1);
}

.new-post-date{
    width: 100%;
    text-align: left;
    font-weight: bolder;
    border-left: 1px solid rgba(39,122,252,1);
    border-right: 1px solid rgba(39,179,252,1);
    padding: 1.5em 0 1.5em 2em;
}

.new-post-buttons{
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 1em 3em;
    border-left: 1px solid rgba(39,122,252,1);
    border-right: 1px solid rgba(39,179,252,1);
}

.new-post-footer{
    height: 0.2em;
    width: 100%;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    border-radius: 0 0 11px 11px;
}

.new-newsfeed{
    width: 98%;
    margin: 5em auto;
    display: grid;
    grid-template-columns: 19% 59% 19%;
    grid-gap: 1%;
}

.new-newsfeed-profile{
    border: 2px solid lightgray;
    border-radius: 11px;
}

.new-newsfeed-profile-top{
    background: lightgray;
    height: 5em;
    border-radius: 8px 8px 0 0;
}

.new-newsfeed-profile-avatar{
    width: 40%;
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    margin-top: -3em;
    z-index: 5;
}

.new-newsfeed-profile-user{
    position: relative;
    color: black;
    z-index: 8;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.new-newsfeed-news{
    min-height: 10vh;
    border-radius: 11px;
}

.new-newsfeed-news-rapid-post{
    width: 95%;
    margin: 2em auto 5em auto;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    padding: 1em;
    border-radius: 11px;

}

.new-newsfeed-news-rapid-post-form{
    color: white;
}

.new-newsfeed-form-textarea{
    border: 1px solid lightgray;
    border-radius: 11px;
    width: 100%;
    outline: none;
    padding: 0.5em 1em;
}

.new-newsfeed-form-textarea:hover, .new-newsfeed-form-textarea:focus{
    outline: none;
}

.new-newsfeed-button, .new-newsfeed-button:hover, .new-newsfeed-button:focus{
    background: white;
    border-radius: 0.5rem;
    outline: none;
}

.new-newsfeed-body-wrapper{
    width: 95%;
    margin: 1em auto;
}

.new-newsfeed-body{
    width: 100%;
    margin: 1em auto;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.new-newsfeed-body-user{
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 1em;
}

.new-newsfeed-body-user>img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin-top: 1em;
}

.new-newsfeed-body-user>div{
    margin-top: 1em;
}

.new-newsfeed-body-title{
    font-size: 1.5em;
    font-weight: bolder;
    padding: .1em 2em;
}

.new-newsfeed-body-image{
    width: 100%;
}

.new-newsfeed-body-image>img{
    width: 100%;
}

.new-newsfeed-body-counters{
    display: flex;
    justify-content: space-between;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    color: white;
    margin-bottom: 1em;
    border-radius: 0 0 11px 11px;
}
