<template>
    <div class="dropdown notification-drop-wrapper" @click="viewNotification()">


        <a class="dropdown-toggle notification " href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                               <span >
                                 <i class="material-icons-outlined profile-icon">notifications</i>
                               </span>
            <span class="badge" id="notif"></span>
        </a>
        <div class="dropdown-menu notification-drop" aria-labelledby="navbarDropdown">
            <ul class="text-left w-100 m-0">
                <li class="w-100 m-0" v-for="notification in notifications">
                    <div class="notification-messages">
                        <a v-if="notification.notification_type_id == 10"
                           :href="`/admin/users/${notification.user_id}/one`" class="d-flex justify-content-start align-items-center mt-2">
                           <div class="w-20 mx-2 notification-image-div" v-bind:style="{ backgroundImage: `url(${notification.user.avatar})`}"></div>
                            <div class="ml-1 w-80">
                                <span>
                                <strong>
                                   {{ notification.user.name }}
                                </strong>
                                    <span>
                                     A new user has been registered. More info here!
                                        <br>
                                    <small>
                                        {{ formatDate(notification.created_at) }}
                                    </small>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <a v-else :href="`/posts/${notification.post.slug}`" class="d-flex justify-content-start align-items-center mt-2">
                            <div class="w-20 mx-2 notification-image-div" v-bind:style="{ backgroundImage: `url(${notification.user.avatar})`}"></div>
                            <div class="ml-1 w-80">
                                <span>
                                <strong>
                                   {{ notification.user.name }}
                                </strong>
                                <span v-if="notification.notification_type_id == 1">
                                tag you on post!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 2">
                                likes your post!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 3">
                                loves your post!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 4">
                                support your post!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 5">
                                posts new article!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 6">
                                comment on your post!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 7">
                                post article with your primary qualification!
                                    <br>
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                </span>
                                <span v-else-if="notification.notification_type_id == 8">
                                post article with your secondary qualification!
                                <small>
                                    {{ formatDate(notification.created_at) }}
                                </small>
                                    <br>
                                </span>
                                    <span v-else-if="notification.notification_type_id == 9">
                                    post article!
                                        <br>
                                    <small>
                                        {{ formatDate(notification.created_at) }}
                                    </small>
                                    </span>
                                    <span v-else-if="notification.notification_type_id == 10">
                                    post article!
                                        <br>
                                    <small>
                                        {{ formatDate(notification.created_at) }}
                                    </small>
                                    </span>
                                </span>
                            </div>
                        </a>
                        <br>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
const moment = require('moment');
export default {
    props: {
        user: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            countNotif: [],
            notifications: [],
        }
    },

    mounted() {
        Echo.private(`countNotify.${this.user.id}`)
            .listen('.private-unviewed-count', e => {
                this.listenCounts();
            })
        Echo.private(`notify.${this.user.id}`)
            .listen('.private-notify', e => {
                this.getNotif();
            })
        this.getNotif();
        axios.get(`/api/notifications/count?api_token=${this.user.api_token}`)
            .then((response) => {
                this.countNotif = response.data;
                if(response.data > 0) {
                    document.getElementById('notif').innerHTML = this.countNotif;
                }
            });
    },

    methods: {
        formatDate (old) {
            return moment(old).fromNow();
        },
        getNotif() {
            axios.get(`/api/notifications?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.notifications = response.data;
                });
        },

        saveNewNotification(notification) {
            this.notifications.push(notification);
        },

        viewNotification(e){
            axios.get(`/api/notifications/view?api_token=${this.user.api_token}`);
        },

        listenCounts() {
            axios.get(`/api/notifications/count?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.countNotif = response.data;
                    if(response.data > 0) {
                        document.getElementById('notif').innerHTML = this.countNotif;
                    }
                });
        }
    }
}
</script>
