<template>
    <div class="w-25 text-left">
        <div class="speciality-vue-wrapper">
            <div class="btn-group w-100">
                <button class="btn-speciality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-if="lang">
                    <span class="btn-span-speciality w-25">Speciality:</span>
                    <div class="btn-span-all" v-if="speciality">
                        {{ speciality.vi_name }}
                    </div>
                    <div class="btn-span-all" v-else>
                        Всичко:
                    </div>
                </button>
                <button class="btn-speciality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-else>
                    <span class="btn-span-speciality w-25">Speciality:</span>
                    <div class="btn-span-all" v-if="speciality">
                        {{ speciality.en_name }}
                    </div>
                    <div class="btn-span-all" v-else>
                        All:
                    </div>
                </button>
                <div class="dropdown-menu speciality-vue-dropdown">
                    <p>
                        <input type="text" placeholder="Select:" v-model="selectSpeciality" />
                    </p>
                    <p>
                        <a :href="'/categories/' + category.slug">
                            All
                        </a>
                    </p>
                    <p v-for="speciality in filteredSpecialities">
                        <a :href="'/sub/' + category.slug + '/speciality/' + speciality.slug" v-if="lang">
                            {{ speciality.vi_name }}
                        </a>
                        <a :href="'/sub/' + category.slug + '/speciality/' + speciality.slug" v-else>
                            {{ speciality.en_name }}
                        </a>
                    </p>
                </div>
            </div>

<!--            <select class="speciality-vue-show" id="specialities">-->
<!--                <option>-->
<!--                    All-->
<!--                </option>-->
<!--                <option v-for="speciality in specialities">-->
<!--                        {{ speciality.en_name }}-->
<!--                </option>-->
<!--            </select>-->
        </div>
    </div>
</template>
<script>
export default {
    props: {
        category: {
            type: Object,
            required: true
        },
        speciality: {
            type: Object,
            required: false,
        }
    },

    data: function () {
        return {
            specialities: [],
            lang: '',
            selectSpeciality: '',
        }
    },

    mounted() {
        axios.get(`/api/spec/${this.category.slug}`)
            .then((response) => {
                // console.log(response.data);
                this.specialities = response.data;
            });
        axios.get('/admin/get/lang')
            .then((response) => {
                if(response.data == 'vi'){
                    this.lang = true;
                } else {
                    this.lang = false;
                }
                return this.lang;
            })
            .catch(function (error) {
                console.log(error)
            });
    },

    computed: {
        sortedSpecialities() {
            return _.sortBy(this.specialities, [(speciality) => {
                if(this.lang){
                    return speciality.vi_name;
                } else {
                    return speciality.en_name;
                }
            }
            ]);
        },

        filteredSpecialities: function() {
            return this.sortedSpecialities.filter((sortedSpeciality) => {
                if(this.lang){
                    return sortedSpeciality.vi_name.match(this.selectSpeciality);
                } else {
                    return sortedSpeciality.en_name.match(this.selectSpeciality);
                }
            });
        }
    }
}
</script>
