<template>
   <div class="contacts-list" v-if="sortedContacts">
       <ul>
           <li v-for="contact in sortedContacts" :key="contact.id" @click="selectContact(contact)" :class="{ 'selected': contact == selected}">
               <div class="avatar">
                   <img class="avatar-image"  :src="contact.user.avatar" alt="profile">
               </div>
               <div class="contact">
                   <p class="name">
                       {{contact.user.name}}
                   </p>
                   <p class="email">
                       {{contact.user.email}}
                   </p>
                   <span class="unread" v-if="contact.unread">
                       {{ contact.unread }}
                   </span>
               </div>
           </li>
       </ul>
   </div>
</template>
<script>
    export default {
        props: {
            contacts: {
                type:Array,
                default: []
            },
            user: {
                type: Object,
                require: true
            }
        },

        data() {
            return {
                selected: this.contacts.length ? this.contacts[0] : null,
                avatar: ''
            }
        },

        mounted() {
            if(this.selected == null){
                this.defaultContactSelect();
            }
        },


        methods: {
            selectContact(contact) {
                this.selected = contact;
                this.$emit('selected', contact);
            },

            defaultContactSelect() {
                axios.get(`/api/getDefault?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.selected = response.data[0];
                        this.$emit('selected', response.data[0]);
                    })
            },

            getProfile(contact) {
                axios.get(`/api/users/avatar?api_token=${contact.user.api_token}`)
                    .then((response) => {
                        this.avatar = response.data.data;
                        return this.avatar;
                    });
            }
        },

        computed: {
            sortedContacts() {
                return _.sortBy(this.contacts, [(contact) => {
                    if(contact == this.selected){
                        return Infinity;
                    }
                    return contact.unread;
                }
                ]).reverse();
            }
        }


    }
</script>
