<template>
    <div class="conversation">
        <h1>
            {{ contact ? contact.user.name : 'Select'}}
        </h1>
        <MessagesFeed :contact="contact" :messages="messages" :user="user"></MessagesFeed>
        <MessageComposer @send="sendMessage"></MessageComposer>
    </div>
</template>
<script>
import MessagesFeed from './MessagesFeed';
import MessageComposer from './MessageComposer';
export default {
    props: {
        user: {
            type: Object,
            required: true
        },
        contact: {
            type: Object,
            default: null
        },
        messages: {
            type: Array,
            default: []
        }
    },

    // mounted() {
    //     console.log(this.contact);
    // },

    methods: {
        sendMessage(text){
            if(!this.contact){
                return
            }
            axios.post(`/api/conversation/send?api_token=${this.user.api_token}` , {
                contact_id: this.contact.user.id,
                text: text
            }).then((response) => {
                this.$emit('new', response.data);
            })
        }
    },

    components: { MessagesFeed, MessageComposer}

}
</script>
