<template>
    <div class="feed" ref="feed" >
        <ul>
            <li  v-for="message in messages" :class="`message${message.from_id == contact.user.from.id ? ' sent' : ' received'}`" :key="message.id">
                <div class="text">
                    {{ message.message }}
                </div>
                <br>
                <small>
                    {{ formatDate(message.created_at) }}
                </small>
            </li>
        </ul>
    </div>
</template>
<script>
    const moment = require('moment');
    export default {
        props: {
            user: {
                type: Object,
                required: true
            },
            contact: {
                type: Object,
                required: false
            },
            messages: {
                type: Array,
                required: false
            }
        },

        data() {
            return {
                defaultContact: null,
                defaultMessages: []
            }
        },

        // mounted() {
        //     if(this.contact == null){
        //         this.defaultContactSelect();
        //     }
        // },

        methods: {
            defaultContactSelect() {
                axios.get(`/api/getDefault?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.defaultContact = response.data[0];
                        this.getDefaultMessages(response.data[0]);
                    })
            },

            getDefaultMessages(contact) {
                axios.get(`/api/conversation/${contact.id}?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.defaultMessages = response.data;
                    })
            },

            formatDate (old) {
                return moment(old).fromNow();
            },
            scrollToBottom() {
                setTimeout(() => {
                    this.$refs.feed.scrollTop = this.$refs.feed.scrollHeight - this.$refs.feed.clientHeight;
                }, 50);
            }
        },
        watch: {
            contact(contact) {
                this.scrollToBottom();
            },
            messages(messages) {
                this.scrollToBottom();
            }
        }
    }
</script>
