.discussion {
    padding: 2em 5%;
}

@media (min-width: 1500px) {

}

.post-create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2779FB;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.post-create:hover {
    background-color: #27B3FC;
    text-decoration: none;
}

.post-create > i {
    padding: 0;
    margin: 0;
}

.discussion-post-single {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .discussion-post-single {
        flex-direction: column;
    }
}

.post-discussion-content {
    width: 100%;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.discussion-date {
    float: left;
}

.post-preview {
    text-align: left;
    margin: 1em 0;
}

.bottom-discussion {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .bottom-discussion {
        flex-direction: column;
        align-items: center;
    }
}

.discussion-reactions {
    width: 17em;
}

.show-button {
    width: 17em;
    color: #ffffff;
    background-color: #2779FB;
    text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.show-button:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #27B3FC;
}

.comment-button {
    float: right;
}

.comment-textarea {
    padding: 0.5em;
    width: 100%;
    height: 8em;
    resize: none;
    overflow-y: scroll;
    border-radius: 8px;
    border: 2px solid #2779FB;
    outline: none;
    background-color: #E9EBEC;
}

.comment-textarea:focus {
    border-color: #000000;
}

.side-pic {
    margin: unset;
    width: 8em;
    margin-right: 2em;
}

.form-holder {
    margin-top: 3em;
}

.user-name-pic {
    display: flex;
    align-items: center;
}

.new-image {
    position: absolute;
    margin-left: 3em;
    margin-top: 11em;
    color: blue;
}

/*.w-70{*/
/*    width: 70%;*/
/*}*/

/*.w-30{*/
/*    width: 30%;*/
/*}*/

/*.w-35{*/
/*    width: 35%;*/
/*}*/

/*.w-40{*/
/*    width: 40%;*/
/*}*/

/*.discussion-post{*/
/*    width: 90%;*/
/*    height: 12em;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.discussion-post-overview{*/
/*    width: 100%;*/
/*    height: 12em;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.discussion-post-comments{*/
/*    width: 98%;*/
/*    height: auto;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.discussion-post-post{*/
/*    width: 98%;*/
/*    min-width: 95vw;*/
/*    height: auto;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.discussion-author-wrapper{*/
/*    width: 16em;*/
/*    margin-right: 1em;*/
/*    border-radius: 11px;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.discussion-author-avatar{*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    object-fit: cover;*/
/*    height: 7em;*/
/*    width: 7em;*/
/*    border: 2px solid var(--main-color);*/
/*}*/

/*.discussion-author-avatar-comments{*/
/*    width: 7em;*/
/*    height: 7em;*/
/*    object-fit: contain;*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    margin-left: 30%;*/
/*    margin-top: 5%;*/
/*    border: 2px solid var(--main-color);*/
/*}*/

/*.discussion-author-name{*/
/*    line-height: 70%;*/
/*    margin-top: 5%;*/
/*    font-weight: bolder*/
/*}*/

/*.discussion-author-role{*/
/*    line-height: 70%; font-weight: bolder*/
/*}*/

/*.discussion-post-wrapper{*/
/*    width: 82%;*/
/*    border-radius: 11px;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*}*/

/*.discussion-shared-section{*/
/*    font-size: 1.2em;*/
/*    height: 1.3em;*/
/*}*/

/*.discussion-post-body{*/
/*    height: 8.5em;*/
/*    margin-top: 1%*/
/*}*/

/*.discussion-comment-body{*/
/*    min-height: 8.5em;*/
/*    margin-top: 1%*/
/*}*/

/*.date-picker{*/
/*    margin-top: 2em;*/
/*    margin-bottom: 2em;*/
/*    font-size: 0.7em;*/
/*    border-bottom: 1px solid #277afc*/
/*}*/

/*.discussion-icons-wrapper{*/
/*    display: inline-flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    vertical-align: middle;*/
/*    padding: 0.2em 1em;*/
/*    width: 28%;*/
/*    height: 90%;*/
/*    margin-right: 2%;*/
/*    border-radius: 11px;*/
/*    background: var(--second-color);*/
/*    color: var(--third-color);*/
/*    text-align: center;*/
/*}*/

/*.comments, .likes, .views {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.comments>span, .likes>span, .views>span{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-right: 2px;*/
/*}*/

/*.discussion-icons-wrapper-post{*/
/*    display: inline-flex;*/
/*    justify-content: space-between;*/
/*    width: 95%;*/
/*    padding: 0.2em;*/
/*    margin-bottom: 2em;*/
/*    border-radius: 11px;*/
/*    background: var(--second-color);*/
/*    color: var(--third-color);*/
/*    text-align: center;*/
/*}*/

/*.discussion-view-section{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    float: right;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    padding-left: 0.1em;*/
/*    padding-right: 0.1em;*/
/*    padding-top: 0.2em;*/
/*    font-size: 0.9em;*/
/*    width: 28%;*/
/*    height: 2.2em;*/
/*    margin-right: 2%;*/
/*    border-radius: 11px;*/
/*    background: var(--second-color);*/
/*    color: var(--third-color);*/
/*}*/

/*.discussion-view-section>a {*/
/*    text-decoration: none;*/
/*    color: var(--third-color);*/
/*    font-weight: bolder;*/
/*}*/

/*.discussion-post-reaction{*/
/*    width: 50%;*/
/*    float: right;*/
/*    margin-bottom: 1em;*/
/*}*/

/*.discussion-comments-textarea{*/
/*    height: auto;*/
/*    margin-bottom: 1em;*/
/*}*/

/*.comment-wrapper{*/
/*    min-width: 98vw;*/
/*    height: auto;*/
/*    max-height: 40em;*/
/*    margin-bottom: 5em;*/
/*    overflow-y: scroll;*/
/*}*/


/*@media only screen and (max-width: 801px) {*/
/*    .discussion-author-wrapper-mobile{*/
/*        width: 98%;*/
/*        min-width: 95vw;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/

/*    .discussion-author-avatar{*/
/*        height: 4em;*/
/*        width: 4em;*/
/*    }*/
/*    .discussion-author-name{*/
/*        line-height: 70%;*/
/*        margin-top: 5%;*/
/*        font-size: 0.9em;*/
/*        font-weight: bolder*/
/*    }*/
/*    .discussion-author-role{*/
/*        font-size: 0.7em;*/
/*    }*/
/*    .discussion-shared-section{*/
/*        font-size: 0.9em;*/
/*        height: 1.3em;*/
/*    }*/

/*    .discussion-icons-wrapper{*/
/*        display: none;*/
/*    }*/

/*    .discussion-post-title{*/
/*        font-size: 0.9em;*/
/*    }*/

/*    .discussion-post-body-boyd{*/
/*        font-size: 0.9em;*/
/*    }*/


/*    .discussion-post-post{*/
/*        width: 98%;*/
/*        min-width: 95vw;*/
/*        height: auto;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: space-between;*/
/*    }*/
/*    .discussion-post-wrapper{*/
/*        width: 98%;*/
/*        min-width: 95vw;*/
/*        margin-top: 1em;*/
/*    }*/
/*    .discussion-post-reaction{*/
/*        width: 100%;*/
/*        margin-bottom: 1em;*/
/*    }*/
/*    .post-reaction-wrapper{*/
/*        width: 100%;*/
/*    }*/
/*    .post-reaction{*/
/*        width: 100%;*/
/*    }*/
/*    .post-reaction>strong{*/
/*        font-size: 0.6em;*/
/*    }*/
/*    .discussion-post-comments{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        text-align: center;*/
/*    }*/

/*    .discussion-author-wrapper-comments{*/
/*        width: 10em;*/
/*    }*/

/*    .discussion-author-avatar-comments{*/
/*        border-radius: 50%;*/
/*        text-align: center;*/
/*        width: 30%;*/
/*        margin-left: 30%;*/
/*        margin-top: 5%;*/
/*        border: 2px solid var(--main-color);*/
/*    }*/
/*}*/
