.events-careers-button {
    float: right;
}

.event-career-image-holder {
    padding: 0 !important;
    height: 16em;
    width: 30em;
}

@media (max-width: 1000px) {
    .event-career-image-holder {
        width: 100%;
    }

    .events-careers-button {
        float: initial;
        margin: 0 auto;
    }
}

.top-data-events-career {
    display: flex;
    justify-content: space-between;
}

.right-end {
    text-align: left;
}

.event-career-avatar {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

/*.event-post-wrapper{*/
/*    width: 100%;*/
/*    !*min-width: 1000px;*!*/
/*    min-width: 95vw;*/
/*}*/

/*.events{*/
/*    width: 95%;*/
/*    margin: 0 auto 5em auto;*/
/*    height: 35em;*/
/*    max-height: 100vh;*/
/*    overflow-y: scroll;*/
/*}*/

/*.event-post{*/
/*    display: flex;*/
/*    width: 98%;*/
/*    height: 12em;*/
/*    margin: 1em auto;*/
/*}*/

/*.event-image-wrapper{*/
/*    width: 25%;*/
/*    height: 100%;*/
/*    border-radius: 11px;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*}*/

/*.event-image{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 11px;*/
/*}*/

/*.event-body-wrapper{*/
/*    width: 72%;*/
/*    margin-left: 3%;*/
/*    padding: 0.5em;*/
/*    border-radius: 11px;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*}*/


/*.date-picker-career{*/
/*    margin-top: 0.1em;*/
/*    margin-bottom: 0.5em;*/
/*    font-size: 0.8em;*/
/*    border-bottom: 1px solid #277afc*/
/*}*/


/*@media only screen and (max-width: 801px) {*/
/*    .event-post{*/
/*        display: flex;*/
/*        width: 98%;*/
/*        height: 10em;*/
/*        margin: 1em auto;*/
/*    }*/

/*    .event-image{*/
/*        max-height: 10em;*/
/*        object-fit: contain;*/
/*        !*height: 100%;*!*/
/*    }*/
/*    .event-body-wrapper{*/
/*        padding: 0.2em;*/
/*    }*/

/*}*/
