.home-page{
    /*margin-top: -2em;*/
    /*width: 100%;*/
    /*max-width: 98vw;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 2em 5%;
}

.posts-type-home {
    font-weight: lighter;
    color: #2779FB;
    margin-bottom: 1em;
}

.home-subcategory-heading {
    color: #2779FB;
    text-align: center;
    text-transform: uppercase;
    height: 3em;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

.home-posts-grid {
    grid-template-columns: repeat(5, 17em);
}


@media (max-width: 1600px) {
    .home-posts-grid {
        grid-template-columns: repeat(3, 21em);
    }
}

@media (max-width: 1180px) {
    .home-posts-grid {
        grid-template-columns: repeat(2, 21em);
    }
}

@media (max-width: 780px) {
    .home-posts-grid {
        grid-template-columns: repeat(1, 21em);
        justify-content: center;
    }
}

.home-post-card {
    height: 25em;
}

.home-post-card > h2 {
    font-size: 20px;
}

.home-post-card > img {
    height: 12em;
}

.home-post-card > .post-card-content {
    height: 6.5em;
}

.home-post-card > .news-button {
    height: 2em;
    width: 11em;
    font-weight: normal;
}
/*.home-p-about-us{*/
/*    width: 75%;*/
/*    text-align: justify;*/
/*    font-size: 1.5em;*/
/*    margin-top: 1em;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*    padding: 0.5em;*/
/*    border-radius: 11px;*/
/*}*/

/*.home-lead-posts-wrapper{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 4em;*/
/*    width: 100%;*/
/*    max-width: 95vw;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    height: 25em;*/
/*    max-height: 27em;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*    padding: 0.5em;*/
/*    border-radius: 11px;*/
/*    gap: 1%;*/
/*}*/

/*.home-cat-lead-post-wrapper{*/
/*    width: 19%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*    border-radius: 11px;*/
/*    max-height: 25em;*/
/*}*/

/*.newsfeed-lead-posts-wrapper{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 4em;*/
/*    width: 100%;*/
/*    max-width: 95vw;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    height: 50em;*/
/*    max-height: 52em;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*    padding: 0.5em;*/
/*    border-radius: 11px;*/
/*    gap: 1%;*/
/*}*/

/*.newsfeed-categories-wrapper{*/
/*    display: flex;*/
/*    width: 19%;*/
/*    justify-content: space-between;*/
/*    flex-direction: column;*/
/*}*/

/*.home-cat-title{*/
/*    width: 95%;*/
/*    margin-top: 0.8em;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*    color: var(--second-color);;*/
/*    border-bottom: 1px solid var(--second-color);*/
/*}*/

/*.home-lead-posts-btn{*/
/*    background: var(--navigation-gradient);*/
/*    color: white;*/
/*    border-radius: 0.5rem;*/
/*    padding: 0.3em;*/
/*}*/

/*.home-lead-image{*/
/*    height: 8em;*/
/*    margin-bottom: 0.5em;*/
/*}*/

/*.home-lead-post-body{*/
/*    margin-top: 0.5em;*/
/*    padding: 0.5em;*/
/*    text-align: justify;*/
/*    font-size: 0.85em;*/
/*    height: 8em;*/
/*    overflow: hidden;*/
/*}*/

/*.home-lead-top-posts{*/
/*    margin: 4em auto 0 auto;*/
/*    width: 100%;*/
/*    max-width: 95vw;*/
/*    color: white;*/
/*    background: var(--navigation-gradient);*/
/*    border-radius: 11px;*/
/*    text-align: center;*/
/*    box-shadow: 0px 4px 9px 0px grey;*/
/*}*/

/*@media only screen and (max-width: 801px) {*/
/*    .home-p-about-us{*/
/*        width: 95%;*/
/*        font-size: 1.1em;*/
/*        padding: 0.2em;*/
/*    }*/

/*    .home-lead-posts-wrapper {*/
/*        display: grid;*/
/*        grid-template-columns: 49% 49%;*/
/*        grid-column-gap: 1%;*/
/*        grid-row-gap: 1%;*/
/*        max-height: none;*/
/*        box-shadow: none;*/
/*    }*/

/*    .newsfeed-lead-posts-wrapper {*/
/*        display: grid;*/
/*        grid-template-columns: 49% 49%;*/
/*        grid-column-gap: 1%;*/
/*        grid-row-gap: 1%;*/
/*        height: auto;*/
/*        max-height: none;*/
/*        box-shadow: none;*/
/*    }*/

/*    .home-cat-lead-post-wrapper{*/
/*        width: 100%;*/
/*        max-height: 25em;*/
/*        margin-bottom: 1em;*/
/*    }*/

/*    .newsfeed-categories-wrapper{*/
/*        display: flex;*/
/*        width: 100%;*/
/*        justify-content: space-between;*/
/*        flex-direction: column;*/
/*    }*/
/*}*/
