.main-navbar {
    width: 100% !important;
    height: 15em !important;
    background: rgb(39,122,252);
    background: linear-gradient(90deg, rgba(39,122,252,1) 0%, rgba(39,179,252,1) 100%);
    font-family: 'Quicksand', sans-serif;
}

@media(max-width: 1000px) {
    .main-navbar {
        height: 9em !important;
    }
}

.navbar-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 2em 0;
}

.logo {
    width: 4em;
    position: absolute;
}

@media (min-width: 1000px) {
    .logo {
        margin-top: 2.9em;
    }
}

.fas, .far {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0.5em;
}

.user-links {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.user-notification {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #FBBC05;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 11px;
    margin-top: -6px;
    margin-left: 29px;
}

.desktop-links-row {
    width: 100%;
    height: 4em;
}

.desktop-links {
    display: flex;
    align-content: center;
    width: 55%;
    float: right;
    justify-content: space-between;
    align-items: center;
}

.desktop-links > li {
    display: flex;
    justify-content: center;
}

.mobile-links-row {
    display: none;
}

.hamburger-link {
    color: #ffffff;
    position: absolute;
    right: 0;
    margin-right: 5%;
    margin-top: -4em;
}

.hamburger-link > i {
    font-size: 3em;
}


.navbar-guest-buttons{
    background: white;
    outline: none;
    border-radius: 0.5rem;
    margin-left: 1em;
    padding: 0.2em;
    font-size: 0.9em;
}

@media only screen and (max-width: 1300px) {
    .desktop-links {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .desktop-links {
        width: 80%;
        display: none;
    }

    .mobile-links-row {
        display: block;
    }
}

.desktop-links > li {
    text-align: center;
}

.desktop-links > li > a {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .filters {
        flex-direction: column;
    }

    .speciality-filter {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar > form > input {
        width: 100% !important;
    }
}

.speciality-link {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 5px 5px 5px 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 16em;
    height: 2.5em;
}

.speciality-link:hover {
    text-decoration: none;
}


.speciality-type {
    margin-left: 4em;
    background-color: #2779FB;
    color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    min-width: 5em;
}

.nav-dropdown, .nav-dropdown:focus, .nav-dropdown:hover {
    position: absolute;
    padding: 0.5em;
    background-color: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.speciality-types {
    max-height: 25em;
    margin-top: 0.5em;
    width: 15em;
    display: none;
    overflow-y: scroll;
}

.speciality-types > li > a {
    color: #2779FB;
}

.menu-link-options {
    margin-top: 3.5em;
}

.user-link-options {
    display: none;
    z-index: 1;
}

.user-link-options-notification {
    position: absolute;
    display: none;
    z-index: 1;
    margin-left: -13.5em;
    width: 16em;
    max-height: 25em;
    overflow-y: scroll;
}

.user-link-options-notification > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2em;
}

.user-link-options-notification > li > a > img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    /*object-fit: fill;*/
    border: 1px solid #2779FB;

}

.user-link-options-notification > li > a {
    /*width: 70% !important;*/
    margin-right: 1em;
}
.user-link-options-notification > li > div {
    width: 65% !important;
}

.notification-text, .notification-time {
    margin-bottom: 0em !important;
    font-size: 14px;
}

.notification-time {
    font-weight: bold;
}

.search-bar > form > input {
    height: 2.5em;
    width: 16em;
    border-radius: 10px;
    padding: 0 2.3em 0 1em;
    outline: none;
}

.fa-search {
    position: absolute;
    color: #27B2FC;
    margin-left: -33px;
    margin-top: 7px;
    cursor: pointer;
    outline: none;
    user-focus: none;
}

.hamburger-menu {
    right: 0;
    z-index: 100;
    display: none;
    margin-right: 5%;
}

.fa-exclamation {
    color: #EE4B4B;
}

.lang-switch:active {
    color: #0f6674;
}

.career-menu {
    display: none;
}

.lang-info {
    display: none;
}

.career:focus + .career-menu {
    display: block;
}

.career:hover + .career-menu {
    display: block;
}
.career:hover .navbar-options-dropdown, .career:focus .navbar-options-dropdown {
    display: block;
}

.hamburger-link:focus + .hamburger-menu{
    display: block;
}

.speciality-link:focus + .speciality-types {
    display: block;
}

.unverified-link:focus + .unverified-info {
    display: block;
}

.messages-link:focus + .messages-info {
    display: block;
}

.options-link:focus + .options-info {
    display: block;
}

.navbar-options-dropdown:focus, .navbar-options-dropdown:hover{
    display: block;
}

.options-link:hover .options-info, .options-link:focus .options-info{
    display: block;
}

.notification-link:focus + .notification-info {
    display: block;
}

.lang-link:focus + .lang-info {
    display: block;
}
