.posts-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 21em);
    justify-content: space-between;
    row-gap: 2em;
}

@media (max-width: 1600px) {
    .posts-grid {
        grid-template-columns: repeat(3, 21em);
    }
}

@media (max-width: 1180px) {
    .posts-grid {
        grid-template-columns: repeat(2, 21em);
    }
}

@media (max-width: 780px) {
    .posts-grid {
        grid-template-columns: repeat(1, 21em);
        justify-content: center;
    }
}

.post-card {
    height: 32em;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px #000000;
    box-shadow: 0px 0px 5px 0px #000000;
}

.post-card-image {
    width: 100%;
    height: 16em;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #2779FB;
}

.post-card > h2 {
    font-size: 26px;
    color: #2779FB;
    text-align: center;
    margin-top: 0.5em;
    height: 2em;
}

.post-card-content {
    height: 7.5em;
    padding: 0 0.5em;
    text-align: justify;
    overflow-y: hidden;
}

.post-card-content > p {
    line-height: 1.2em;
}

.news-button {
    margin: 0 auto;
    width: 14em;
}

.search-results-msg {
    margin-bottom: 2em;
}
