.user-info {
    width: 60%;
    margin: 0 auto 3em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data {
    width: 60%;
    margin-right: 10%;
}

.user-data-row {
    border-bottom: 1px solid #000000;
}

.user-avatar > img {
    height: 13em;
    width: 13em;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #2779FB;
}

@media (max-width: 1000px) {
    .user-info {
        flex-direction: column;
        width: 100%;
    }

    .user-data {
        margin-bottom: 1em;
    }
}

.user-actions-container > a > i {
    color: #2779FB;
    font-size: 28px;
    margin-left: 0;
    margin-right: 0.3em;
}


.users-view-wrapper{
    width: 95%;
    min-height: 50vh;
    margin-top: -2em;
    margin-left: auto;
    margin-right: auto;
}
.users-view-wrapper-overview{
    width: 100%;
    min-height: 50vh;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.users-view-posts-wrapper{
    max-height: 70vh;
    overflow-y: scroll;
}

.users-view-info{
    width: 50%;
    min-height: 10em;
    margin-right: auto;
    margin-left: auto;
}

.users-view-info-overview{
    width: 80%;
    min-height: 10em;
    margin-right: auto;
    margin-left: auto;
}

.user-view-info-info{
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.1em;
}

.user-view-info-names{
    width: 50%;
    font-weight: bolder;
    font-size: 1.1em;
    border-bottom: 1px solid gray;
}

.user-view-info-followed{
    width: 50%;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-top: 0.2em;
    font-size: 1em;
}

.user-view-info-following{
    width: 50%;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-top: 0.2em;
    font-size: 1em;
}

.user-view-follow{
    margin-left: 25%;
    margin-top: 1em;
}

.user-view-follow>a>button{
    background: var(--second-color);
    width: 75%;
    font-size: 1em;
    padding: 0.2em;
    color: white;
    border-radius: 0.5rem;
}

.user-view-info-image{
    width: 30%;
}

.user-view-info-image>img {
    width: 100%;
}

.user-profile-age-input{
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 0.5em;
    width: 20%;
}
