.messenger{
    position: fixed;
    width: 8em;
    right: 0;
    margin-right: 1em;
    bottom: 1vh;
    z-index: 9999;
    max-height: 90vh;
    overflow-y: scroll;
}

.messages-wrapper{
    height: 100%;
    max-height: 90vh;
    overflow-y: scroll;
}

.messenger-item{
    margin-bottom: 0.5em;
    cursor: pointer;
}

.messenger-icon{
    width: 5em;
}
.messenger-settings{
    background: var(--second-color);
    width: 4.5em;
}

.messenger-counter{
    position: relative;
    background: rgba(0,255,0,0.8);
    text-decoration: none;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin-left: -3.5em;
    margin-top: 0.5em;
    line-height: 1.2em;
    z-index: 25;
}
.empty-counter{
    position: relative;
    background: transparent;
    height: 1.2em;
    width: 1.2em;
    margin-left: -3.5em;
    margin-top: 0.5em;
}

.close-messenger-icon{
    position: relative;
    background: rgba(0,0,0,0.8);
    text-decoration: none;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin-left: -3.5em;
    margin-top: 0.5em;
    line-height: 1.2em;
    z-index: 25;
}
.close-messenger-icon-settings{
    position: relative;
    background: rgba(0,0,0,0);
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin-left: -3.5em;
    margin-top: 0.5em;
    line-height: 1.2em;
    z-index: 25;
}

.messenger-composer-wrapper{
    position: fixed;
    max-width: 90%;
    right: 8%;
    bottom: 1vh;
    height: 22em;
    display: flex;
    justify-content: flex-end;
    z-index: 9000;
    overflow-x: auto;
    white-space: nowrap;

}

.messenger-container{
    background: var(--second-color);
    width: 240px;
    min-width: 240px;
    height: 20em;
    border-radius: 11px;
    box-shadow: 0px 4px 9px 0px black;
    margin-right: 1em;
}

.messenger-container-settings{
    position: fixed;
    background: var(--second-color);
    right: 8em;
    bottom: 1vh;
    width: 15em;
    height: 20em;
    z-index: 9999;
    border-radius: 11px;
    box-shadow: 0px 4px 9px 0px black;
}

.messenger-settings-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0.5em 0.5em 0 0.5em;
    color: white;
    font-size: 1.5em;
    border-bottom: 1px solid white;
    margin-top: -0.3em;
    height: 2em;
}

.messenger-settings-header>div>img{
    width: 1em;
    height: 1em;
}

.messenger-settings-header>div>span{
    font-size: 0.7em;
}

.messenger-close-button, .messenger-close-button:hover, .messenger-close-button:focus{
    width: 1.5em;
    height: 1.2em;
    line-height: 0.9em;
    outline: none;
}

.messenger-settings-contacts-wrapper{
    margin: 0;
    padding: 0.1em;
    overflow-y: scroll;
    max-height: 16em;
}

.messenger-settings-item{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
    padding: 0.3em;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.messenger-settings-contact{
    width: 100%;
    display: flex;
    justify-content: start;

}

.messenger-settings-contact>div>img{
    width: 100%;
    border-radius: 50%;
}

.messenger-settings-username{
    width: 75%;
    margin-right: 0.1em;
    margin-left: 0.1em;
    text-align: justify;
    font-size: 0.8em;
    font-weight: bold;
    height: 100%;
    max-height: 2em;
}

.messenger-settings-username-span{
    max-height: 1.5em;
    overflow: hidden;
}

.messenger-settings-search{
    width: 95%;
    max-height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.messenger-settings-search-input,
.messenger-settings-search-input:hover,
.messenger-settings-search-input:focus{
    width: 100%;
    border: none;
    outline: none;
}

.message-feed{
    background: white;
    width: 98%;
    height: 13em;
    max-height: 14em;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid var(--second-color);
    overflow-y: scroll;
    border-radius: 11px 11px 0 0;
}


.messenger-feed-text{
    border-radius: 0.5rem;
    max-width: 80%;
    padding: 0.9em;
    display: inline-block;
    color: #ffffff;
    font-size: 0.8em;
}

.received .messenger-feed-text{
    background: #4C92BF;
}

.sent .messenger-feed-text{
    background: #7abaff;
}

.messenger-feed-date-time{
    font-size: 0.58em;
}

.messenger-composer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.messenger-composer>textarea{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    resize: none;
    padding: 0.5em;
    border-radius: 0 0 11px 11px;
    border: 2px solid var(--second-color);
    font-size: 0.8em;
}



