<template>
    <div class="category-wrapper">
        <div class="custom-nav">
            <div class="custom-nav-sections navbar-nav" v-for="category in categories">
                <div class="custom-dropdown">
                    <a class="custom-dropdown-a"
                       :href="'/categories/' +
                    category.slug" v-if="lang">
                        {{ category.vi_category }}
                    </a>
                    <a class="custom-dropdown-a" :href="'/categories/' + category.slug" v-else>
                        {{ category.en_category }}
                    </a>
<!--                    <a class="custom-dropdown-a" :href="'/categories/' + category.slug" v-else-if="lang == 'VI'">-->
<!--                        {{ category.vi_category }}-->
<!--                    </a>-->
                    <div style="background-color: #ffffff;" class="custom-dropdown-content nav-item custom-mobile-subcategories" v-if="category.subcategories.length > 0">
                        <div v-for="subcategory in category.subcategories">
                            <a :href="'/subcategories/' + subcategory.slug" class="custom-dropdown-a-subcategory" v-if="lang">
                                {{ subcategory.vi_name }}
                            </a>
                            <a :href="'/subcategories/' + subcategory.slug" class="custom-dropdown-a-subcategory" v-else>
                                {{ subcategory.en_name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data: function () {
        return {
            categories: [],
            lang: '',
        }
    },

    mounted() {
        this.loadLocale();
        this.loadCategories();
    },

    methods: {
        loadLocale: function () {
            axios.get('/admin/get/lang')
                .then((response) => {
                    if(response.data == 'vi'){
                        this.lang = true;
                    } else {
                        this.lang = false;
                    }
                    // this.lang = response.data;
                    return this.lang;
                })
                .catch(function (error) {
                    console.log(error)
                });
        },
        loadCategories: function () {
            axios.get(`/api/categories`)
                .then((response) => {
                    this.categories = response.data.data;
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
    },
}
</script>
