<template>
    <span class="user-notification" v-if="count > 0" id="count-span">{{count}}</span>
</template>
<script>
    export default {
        props: {
            user: {
                type: Object,
                required: true
            },
            to: {
                type: Object,
                required: false,
            }
        },

        data() {
            return {
                count: [],
            }
        },

        mounted() {
            Echo.private(`count.${this.user.id}`)
                .listen('.private-unread-count', e => {
                    this.countUnread(e.user);
                });

            axios.get(`/api/count?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.count = response.data;
                });
        },

        methods: {
            countUnread(broadcastedUser) {
                axios.get(`/api/count?api_token=${broadcastedUser.api_token}`)
                    .then((response) => {
                        this.count = response.data;
                    });
            }
        }
    }
</script>
