<template>
    <div class="discussion">

        <div class="discussion-post-single">
            <section class="post-author">
                <img class="author-avatar" :src="avatar" alt="">
                <p class="author-name">{{user.name}}</p>
            </section>

            <section class="post-discussion-content">

                <form @submit.prevent="addComment">
                    <input type="hidden" name="_token" :value="csrf">

                    <textarea id="body"
                              class="comment-textarea"
                              name="body"
                              required autocomplete="body" v-model="newPost"></textarea>

                    <button type="submit" class="show-button comment-button">
                        Add comment
                    </button>
                </form>
            </section>
        </div>

        <!--        <div class="mx-auto w-100 comment-wrapper">-->
        <!--            <div class="mx-auto my-4 discussion-post-comments">-->
        <!--                <div class="discussion-post-wrapper">-->
        <!--                    <div class="discussion-comment-body">-->
        <!--                        <div class="discussion-comments-textarea">-->
        <!--                            <form @submit.prevent="addComment">-->
        <!--                                <input type="hidden" name="_token" :value="csrf">-->
        <!--                                <div class="mx-auto text-center">-->
        <!--                                <textarea id="body"-->
        <!--                                          class="create-posts-textarea h-50"-->
        <!--                                          name="body"-->
        <!--                                          required autocomplete="body" v-model="newPost"></textarea>-->
        <!--                                </div>-->
        <!--                                <div class="w-100 h-50 text-center">-->
        <!--                                    <button type="submit" class="btn btn-outline-primary h-100">-->
        <!--                                        Add comment-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                            </form>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <section class="discussion-post-single" v-for="comment in comments">
            <section class="post-author">
                <img class="author-avatar" :src="comment.avatar" alt="">
                <p class="author-name">{{comment.user}}</p>
            </section>


            <section class="post-discussion-content">
                <span class="date-picker discussion-date">
                    <strong>{{ formatDate(comment.date) }}</strong>
                </span>
                <br>

                <div class="post-preview">
                    <p>
                        {{ comment.body }}
                    </p>
                </div>
            </section>

        </section>

        <!--    <div class="mx-auto my-4 discussion-post-comments" v-for="comment in comments">-->
        <!--        <div class="discussion-author-wrapper">-->
        <!--            <img style="width: 7em; height: 7em; object-fit: contain" class="discussion-author-avatar-comments"-->
        <!--                  :src="comment.avatar" alt="">-->
        <!--            <p class="discussion-author-name">{{comment.user}}</p>-->
        <!--        </div>-->
        <!--        <div class="discussion-post-wrapper">-->
        <!--            <div class="discussion-post-body">-->
        <!--                <div class="d-flex justify-content-between">-->
        <!--                    <div class="w-70 p-2">-->
        <!--                                <span class="date-picker">-->

        <!--                                DATE: <strong>-->
        <!--                        {{ formatDate(comment.date) }}</strong>-->
        <!--                                </span>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="p-2">-->
        <!--                    <strong>-->
        <!--                        {{ comment.body }}-->
        <!--                    </strong>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->


        <!--    <div class="my-2 w-100" v-for="comment in comments">-->
        <!--        <div class="d-flex justify-content-between w-80 bordered-1px-primary-colour mx-auto">-->
        <!--            <div class="w-25 text-center mx-auto bordered-1px-primary-colour">-->
        <!--                <img class="w-25 mx-auto" src="/storage/helpers/profile.png" alt="profile">-->
        <!--                <br>-->
        <!--                <strong>-->
        <!--                    Username: {{ comment.user }}-->
        <!--                </strong>-->
        <!--            </div>-->
        <!--            <div class="w-75 bordered-1px-primary-colour p-2">-->
        <!--                {{ comment.body }}-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div class="my-2 w-100">-->
        <!--        <div class="d-flex justify-content-between w-80 bordered-1px-primary-colour mx-auto">-->
        <!--            <div class="w-25 text-center mx-auto bordered-1px-primary-colour">-->
        <!--                <img class="w-25 mx-auto" src="/storage/helpers/profile.png" alt="profile">-->
        <!--                <br>-->
        <!--                <strong>-->
        <!--                    ME:-->
        <!--                </strong>-->
        <!--            </div>-->
        <!--            <div class="w-75 bordered-1px-primary-colour p-2">-->
        <!--                <form @submit.prevent="addComment">-->
        <!--                    <input type="hidden" name="_token" :value="csrf">-->
        <!--                    <div class="mx-auto text-center">-->
        <!--                            <textarea id="body"-->
        <!--                                      class="create-posts-textarea h-50"-->
        <!--                                      name="body"-->
        <!--                                      required autocomplete="body" v-model="newPost"></textarea>-->
        <!--                    </div>-->
        <!--                    <div class="w-100 h-50 text-center">-->
        <!--                        <button type="submit" class="btn btn-outline-primary h-100">-->
        <!--                            Add comment-->
        <!--                        </button>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </div>-->
    </div>
    </div>
</template>

<script>
    const moment = require('moment');
    export default {
        props: {
            post: {
                type: Object,
                require: true,
            },
            user: {
                type: Object,
                require: true,
            }

        },

        data: function () {
            return {
                comments: [],
                newPost: '',
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                avatar: '',
            }
        },

        mounted() {
            this.loadComments();
            this.loadProfileImage();
        },

        methods: {
            loadProfileImage() {
                axios.get(`/api/user?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.avatar = response.data;
                    })
            },

            loadComments: function () {
                axios.get('/api/comments/' + this.post.slug)
                    .then((response) => {
                        this.comments = response.data.data;
                    })
                    .catch(function (error) {
                        // console.log(error)
                    });
            },

            addComment: function () {
                axios.post('/api/comments/' + this.post.slug, {body: this.newPost, user_id: this.user.id})
                    .then((response) => {
                        this.newPost = '';
                    })
                    .catch(function (error) {
                        // console.log(error)
                    });
                this.loadComments()
            },

            formatDate(old) {
                return moment(old).fromNow();
            },
        }
    }

</script>
