<template>
    <!--    <div class="dropdown notification-drop-wrapper" >-->
    <li @click="viewNotification()">
        <span v-if="countNotif !== 0" class="user-notification" id="notif"></span>
        <a href="#" class="notification-link">
            <i class="far fa-bell"></i>
        </a>

        <ul class="nav-dropdown user-link-options-notification notification-info navbar-options-dropdown">
            <li v-for="notification in notifications" v-if="notification.notification_type_id == 10">
                <a :href="`/admin/users/${notification.user_id}/one`">
                    <img
                        :src="notification.user.avatar"
                        :alt="`avatar-${notification.user.name}`">
                </a>
                <div class="user-data">
                    <p class="notification-text">A new user has been registered!</p>
                    <p class="notification-time">{{ formatDate(notification.created_at) }}</p>
                </div>
            </li>
            <li v-else>
                <a :href="`/posts/${notification.post.slug}`">
                    <img
                        :src="notification.user.avatar"
                        :alt="`avatar-${notification.user.name}`">
                </a>
                <div class="user-data">
                    <p class="notification-text" v-if="notification.notification_type_id == 1">tag you on post!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 2">likes your post!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 3">loves your post!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 4">support your post!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 5">posts new article!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 6">comment on your post!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 7">post article with your
                        primary qualification!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 8">post article with your
                        secondary qualification!</p>
                    <p class="notification-text" v-if="notification.notification_type_id == 9">posts new article!</p>
                    <p class="notification-time">{{ formatDate(notification.created_at) }}</p>
                </div>
            </li>
        </ul>
    </li>
</template>
<script>
const moment = require('moment');
export default {
    props: {
        user: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            countNotif: '',
            notifications: [],
            visible: false,
        }
    },

    mounted() {
        Echo.private(`countNotify.${this.user.id}`)
            .listen('.private-unviewed-count', e => {
                this.listenCounts();
            })
        Echo.private(`notify.${this.user.id}`)
            .listen('.private-notify', e => {
                this.getNotif();
            })
        this.getNotif();
        axios.get(`/api/notifications/count?api_token=${this.user.api_token}`)
            .then((response) => {
                this.countNotif = response.data;
                if (parseInt(response.data) > 0) {
                    this.visible = true;
                    document.getElementById('notif').innerHTML = this.countNotif;
                }
            });
    },

    methods: {
        formatDate(old) {
            return moment(old).fromNow();
        },
        getNotif() {
            axios.get(`/api/notifications?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.notifications = response.data;
                });
        },

        saveNewNotification(notification) {
            this.notifications.push(notification);
        },

        viewNotification(e) {
            axios.get(`/api/notifications/view?api_token=${this.user.api_token}`);
        },

        listenCounts() {
            axios.get(`/api/notifications/count?api_token=${this.user.api_token}`)
                .then((response) => {
                    this.countNotif = response.data;
                    if (parseInt(response.data) > 0) {
                        this.visible = true;
                        document.getElementById('notif').innerHTML = this.countNotif;
                    }
                });
        }
    }
}
</script>
