<template>
    <div class="reactions-holder">

        <a @click="reaction(react)" v-for="react in reacts" class="flex items-center">
            <img v-if="my === react.id" class="w-8 mx-2" :src="`${react.image} currently-reacted`"/>
            <img v-else :src="react.image" class="w-8 mx-2"/>
            <span :id="react.en_name">{{ countReactions(react) }}</span>
        </a>
    </div>

</template>
<script>
    export default {

        props: {
            user: {
                type: Object,
                required: true,
            },
            post: {
                type: Object,
                required: true
            },
            reacts: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                countReaction: '',
                hover: false,
                hoveredReaction: '',
                my: '',
            };
        },
        mounted() {
            this.hoverFalse();
            this.bindMy();
        },

        methods: {
            reaction(react) {
                axios.get(`/api/react/${this.post.slug}/${react.en_name}?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.countReactions(react);
                        this.myReact(react);
                    });
            },

            countReactions(react) {
                axios.get(`/api/react/count/${this.post.slug}/${react.en_name}?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.countReaction = response.data;
                        document.getElementById(`${react.en_name}`).innerHTML = this.countReaction;
                    });
            },

            myReact(react){
                axios.get(`/api/my/${this.post.slug}/${react.en_name}?api_token=${this.user.api_token}`)
                    .then((response) => {
                        if(response.data == true){
                           this.my = react.id;
                        } else {
                           this.my = 100;
                        }

                        return this.my;
                    });
            },

            bindMy(){
                axios.get(`/api/bind-my/${this.post.slug}?api_token=${this.user.api_token}`)
                    .then((response) => {
                        this.my = parseInt(response.data);
                        return this.my;
                    });
            },

            hoverTrue(react) {
                this.hoveredReaction = react.en_name;
                this.hover = true;

            },

            hoverFalse() {
                this.hover = false;
            }
        }
    }
</script>
