<template>
    <li class="search-bar">
        <form method="post" action="/posts/search" id="form-search">
            <input type="hidden"  name="_token" :value="csrf">
            <input type="hidden"  name="category" :value="category.id">
            <input type="text" placeholder="Search article" name="search" id="search" v-model="searchModel" @keydown.enter="searching">
            <i class="fas fa-search" @click="searching"></i>
        </form>
    </li>
</template>
<script>
export default {
    props: {
        user: {
            type: Object,
            required: true
        },
        category: {
            type: Object,
            required: true
        },
        speciality: {
            type: Object,
            required: false,
        }
    },

    data: function () {
        return {
            input: '',
            hover: false,
            searchModel: '',
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    mounted() {
    },

    methods: {
        searching(e) {
            e.preventDefault();
            document.getElementById('form-search').submit();
        }
    }
}
</script>
