<template>
    <div class="">
        <li class="speciality-filter">
            <a href="#" class="speciality-link" v-if="lang">
                <span>Speciality (vi): </span>

                <span class="speciality-type" v-if="speciality">{{ speciality.vi_name }} </span>
                <span class="speciality-type" v-else>All (vi) </span>
            </a>
            <a href="#" class="speciality-link" v-else>
                <span>Speciality: </span>

                <span class="speciality-type" v-if="speciality">{{ speciality.en_name }} </span>
                <span class="speciality-type" v-else>All </span>
            </a>

            <ul class="nav-dropdown speciality-types navbar-options-dropdown">
                <li><input type="text" placeholder="Select:" v-model="selectSpeciality" /></li>
                <li v-for="speciality in filteredSpecialities">
                    <a :href="'/sub/' + category.slug + '/speciality/' + speciality.slug" v-if="lang">
                        {{ speciality.vi_name }}
                    </a>
                    <a :href="'/sub/' + category.slug + '/speciality/' + speciality.slug" v-else>
                        {{ speciality.en_name }}
                    </a>
                </li>
            </ul>
        </li>
    </div>
</template>
<script>
export default {
    props: {
        category: {
            type: Object,
            required: true
        },
        speciality: {
            type: Object,
            required: false,
        }
    },

    data: function () {
        return {
            specialities: [],
            lang: '',
            selectSpeciality: '',
        }
    },

    mounted() {
        axios.get(`/api/spec/${this.category.slug}`)
            .then((response) => {
                // console.log(response.data);
                this.specialities = response.data;
            });
        axios.get('/admin/get/lang')
            .then((response) => {
                if(response.data == 'vi'){
                    this.lang = true;
                } else {
                    this.lang = false;
                }
                return this.lang;
            })
            .catch(function (error) {
                console.log(error)
            });
    },

    computed: {
        sortedSpecialities() {
            return _.sortBy(this.specialities, [(speciality) => {
                if(this.lang){
                    return speciality.vi_name;
                } else {
                    return speciality.en_name;
                }
            }
            ]);
        },

        filteredSpecialities: function() {
            return this.sortedSpecialities.filter((sortedSpeciality) => {
                if(this.lang){
                    return sortedSpeciality.vi_name.match(this.selectSpeciality);
                } else {
                    return sortedSpeciality.en_name.match(this.selectSpeciality);
                }
            });
        }
    }
}
</script>
