<template>
    <nav class="main-navbar new-view-nav" id="nav-new" >
        <div class="navbar-content">
            <a href="">
                <img class="logo" src="/storage/custom-nav/logo.svg" alt="logo">
            </a>

            <ul class="user-links">
                <li>
                    <a href="#" class="unverified-link">
                        <i class="fas fa-exclamation"></i>
                    </a>
                    <ul class="nav-dropdown user-link-options unverified-info">
                        <li>Unverified account</li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <chat-counter :user="user" :to="to"></chat-counter>
                    <a href="" class="messages-link">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
                <notif :user="user"></notif>
                <li>
                    <a href="#" class="options-link">
                        <i class="far fa-user"></i>
                    </a>
                    <ul class="nav-dropdown user-link-options-notification options-info navbar-options-dropdown">
                        <li><a href="">{{user.name}}</a></li>
                        <li><a href="">Admin panel</a></li>
                        <li><a href="">Users</a></li>
                        <li><a href="">Write new post</a></li>
                        <li><a href="">User information</a></li>
                        <li><a href="">Profile information</a></li>
                        <li><a href="">Analyze</a></li>
                        <li>
                            <a href=""
                               onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">Exit</a>
                            <form id="logout-form" action="" method="POST">
                                @csrf
                            </form>
                        </li>
                        <li>
                            <a href="">
                                Layout
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="lang-link">
                        <i class="fas fa-globe-asia"></i>
                    </a>
                    <ul class="nav-dropdown user-link-options lang-info navbar-options-dropdown">
                        <li><a href="/lang/en">EN</a></li>
                        <li><a href="/lang/vi">VI</a></li>
                    </ul>
                </li>
            </ul>

            <div class="desktop-links-row">
                <ul class="desktop-links">
                    <li>
                        <a href="/categories/news-articles">News & Articles</a>
                    </li>
                    <li>
                        <a href="/categories/drug-info-updates">Drug info & updates</a>
                    </li>
                    <li>
                        <a href="/categories/events">Events</a>
                    </li>
                    <li>
                        <a href="/categories/career-paid-opportunity" class="career">Career & paid opportunities</a>
                        <ul class="nav-dropdown menu-link-options career-menu navbar-options-dropdown">
                            <li><a href="/subcategories/surveys-6">Surveys</a></li>
                            <li><a href="/subcategories/clinical-studies-6">Clinical studies</a></li>
                            <li><a href="/subcategories/products-preview-6">Products previews</a></li>
                            <li><a href="/subcategories/job-6">Job</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/categories/discussion">Discussion</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-links-row">
                <a class="hamburger-link" href="#">
                    <i class="fas fa-bars"></i>
                </a>
                <ul class="nav-dropdown hamburger-menu">
                    <li><a href="/categories/news-articles">News & articles</a></li>
                    <li><a href="/categories/drug-info-updates">Drug info & updates</a></li>
                    <li><a href="/categories/events">Events</a></li>
                    <li><a href="/categories/career-paid-opportunities">Career & paid opportunities</a></li>
                    <li><a href="/categories/discussion">Discussion</a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        props: {
            user: {
                type: Object,
                required: true,
            },
            to: {
                type: Object,
                required: true,
            }
        },
        data() {
            return {
                visible: false,
            }
        },

        mounted() {
            this.$nextTick(function(){
                window.addEventListener("scroll", function(){
                    var navbar = document.getElementById("nav-new");
                    var nav_classes = navbar.classList;
                    if(document.documentElement.scrollTop > 15) {
                        // if(nav_classes.contains("d-none") === false){
                            console.log('>=150');
                            this.visible = true;
                            // nav_classes.toggle('d-none');
                        // }
                    } else if(document.documentElement.scrollTop == 15) {
                        return;
                    }
                    else {
                        // if(nav_classes.contains("d-none") === true){
                            console.log('<150');
                        this.visible = true;
                            // nav_classes.remove('d-none');
                        // }
                    }
                })
            })
        },

        methods: {
            isBigNavVisible(){
                if (document.body.scrollTop > 580 || document.documentElement.scrollTop > 580) {
                    console.log('visible');
                    this.visible = false;
                } else {
                    console.log('not visible');
                    this.visible = true;
                }
            }
        }

    }
</script>
