<template>
    <nav class="main-navbar new-view-nav" id="nav-new">
        <div class="navbar-content">
            <a href="">
                <img class="logo" src="/storage/custom-nav/logo.svg" alt="logo">
            </a>

            <ul class="user-links">
                <li>
                    <a href="/new/log-in">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="/new/log-in">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="lang-link">
                        <i class="fas fa-globe-asia"></i>
                    </a>
                    <ul class="nav-dropdown user-link-options lang-info navbar-options-dropdown">
                        <li><a href="/lang/en">EN</a></li>
                        <li><a href="/lang/vi">VI</a></li>
                    </ul>
                </li>
            </ul>

            <div class="desktop-links-row">
                <ul class="desktop-links">
                    <li>
                        <a href="/new/log-in">News & Articles</a>
                    </li>
                    <li>
                        <a href="/new/log-in">Drug info & updates</a>
                    </li>
                    <li>
                        <a href="/new/log-in">Events</a>
                    </li>
                    <li>
                        <a href="/new/log-in" class="career">Career & paid opportunities</a>
                    </li>
                    <li>
                        <a href="/new/log-in">Discussion</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-links-row">
                <a class="hamburger-link" href="#">
                    <i class="fas fa-bars"></i>
                </a>
                <ul class="nav-dropdown hamburger-menu">
                    <li><a href="/new/log-in">News & articles</a></li>
                    <li><a href="/new/log-in">Drug info & updates</a></li>
                    <li><a href="/new/log-in">Events</a></li>
                    <li><a href="/new/log-in">Career & paid opportunities</a></li>
                    <li><a href="/new/log-in">Discussion</a></li>
                </ul>
            </div>
            <ul class="filters">
            </ul>
        </div>
    </nav>
</template>
<script>
    export default {

        mounted() {
        },

        methods: {
        }

    }
</script>
